<a href="https://colab.research.google.com/github/metsumesquita/Python_resumo/blob/main/ESTUDO_DE_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#objetos e estruturas de dados basicas
#python é uma linguagem orientada a objetos

#Importaçao

In [3]:
from collections import namedtuple #importaçao

In [4]:
import numpy as np

#Variaveis e atribuiçao

In [ ]:
#as variaveis é apenas um nome dado a uma locaçao de memoria
#o string nao sao mutaveis
#toda a operaçao feita sobre a variavel afeta a locaçao de memoria

In [ ]:
print("Hello \tWorld")

Hello 	World

In [ ]:
#essa é a maneira que da pra fazer personagem : "frase"
fala = "She said: \"Hi\""
print(fala)

She said: "Hi"

In [ ]:
#devemos nomear as variaveis da seguinte forma
my_name = 'Thais' # esse = é uma ATRIBUIÇAO
print('O nome dela é  ? :  '+my_name)
#nao é permitido usar numeros no começo das variaveis
#nao é permitido utilizar o espaço dentro de uma variavel

O nome dela é : ?  Thais

In [ ]:
#alterando
phrase="Gato de gravata"
print(phrase)
#frase original
print(phrase.replace("Gato","Urso"))
#frase que sofreu  substituiçao

Gato de gravata
Urso de gravata

In [ ]:
print(phrase.title())
#deixa em maiusculo a primeira letra de cada palavra

Gato De Gravata

In [ ]:
print(phrase.startswith("Urso"))

False

In [ ]:
print(phrase.startswith("Gato"))

True

In [ ]:
print(phrase.endswith("gravata"))

True

#Leitura de Dados do Teclado/Entrada

In [ ]:
import pandas as pd
if __name__ == '__main__':
    a = int(input("informe valor"))
    b = int(input("informe valor"))
    print((int(a)+int(b)))
    print((int(a)-int(b) ))
    print((int(a)*int(b)))

In [ ]:
#aqui notamos que essas duas variaveis ,sao consideradas strings
num1=input('Informe o valor da variavel 1 : ')
num2=input('Informe o valor da variavel 2 : ')
print('Resposta : '+num1+num2)
##num1 e num2 sao strings
#mas nao era isso q esperavamos ou queriamos
soma=int(num1)+int(num2)
#soma precisa ser do tipo string para poder ser utilizado com o print dessa forma abaixo
print('Resultado desejado: '+str(soma) )

KeyboardInterrupt: ignored

In [ ]:
#string
meu_texto = input("Digite um texto : ")
# Recebendo números
numero_inteiro = int(input("Digite um numero inteiro qualquer : "))
numero_decimal = float(input("Digite um numero decimal qualquer : "))

#trabalhando com strings

In [ ]:
nome=input("Informe o seu nome : ")
idade=int(input("Informe a sua idade : "))
print("Seu nome é : "+nome+"e  sua idade é  : "+ str(idade) )

#tambem podemos fazer algo como utilizar o upper para torna tudo maiusculo

#utilizamos find pra encontrar a posiçao que aquela letra/char se encontra

#abaixo vamos fazer um exercicio

In [ ]:
#Faça um programa que receba a idade do usuário e diga se ele é maior ou menor de idade.
if(idade>=18):
  print(nome+ "é maior de idade ")
else:
  print(nome+" é menor de idade")

In [ ]:
type(nome)

In [ ]:
#alfa numerico
'54A12B'.isalnum()

In [ ]:
print(1940,"A casa do penhasco")

1940 A casa do penhasco

##Concatenando String

In [ ]:
name='sam'
last_letters=name[1::]
new_name='P'+last_letters
print(new_name)

Pam

In [ ]:
a="Ola todos,nos da light academy"
b="Estamos convidando todos os novatos para o evento de sabado a noite"
c=a + b +"\n" #quebra de linha
print(c+"as 18 horas")
d=a+"\n"+b #quebra de linha
print(d)
#com quebra de linha

Ola todos,nos da light academyEstamos convidando todos os novatos para o evento de sabado a noite
as 18 horas
Ola todos,nos da light academy
Estamos convidando todos os novatos para o evento de sabado a noite

In [ ]:
#index
frase="Os gatos persa sao a raça mais popular entre as outras raças de gato"

print(frase[0])
print(frase[1])#espaço
print(frase[2])
print(frase[3])
print(frase[4])
print(frase[5])
print(frase[6])
print(frase[7])

In [ ]:
print(str(frase.upper()))#maiusculo
print(str(frase.lower()))#minusculo

In [ ]:
print(frase[0:])
#retorna do inicio ate o final da frase

print(frase.find('g'))
#retorna a posiçao que é encontrado
#caso nao seja encontrado retorna -1

print("gatos" in frase)
#aqui rerificamos se esse "algo" esta sendo usando na frase

In [ ]:
print('tinker'[1:4])

ink

In [ ]:
my_frase='abcdefghiklmno'
my_frase[::]

'abcdefghiklmno'

In [ ]:
my_frase[::2]#pula 2 em 2
my_frase[::-1]#inverte
'Hello World'[7]

'o'

#Entrada de dados e Concatenando Strings

In [ ]:
fruit=input("nome da fruta :")
index = 0
while index < len(fruit):
 letter = fruit[index]
 print (letter)
 index = index + 1

In [ ]:
#alem disso podemos saber o tamanho desse string,qtd de letras
print(len(fruit)) #banana=6
#vem a ser util qunado desejamos limitar o numero de letras para ser utilizado pelo usuario
#por ex em um formulario 50 letras pra um nome pode ser um absurdo

In [ ]:
comida="banana"
comida.find("na")
#a posiçao que ele encontra o inicio do que esta sendo prourado

2

os comentarios podem ser feitos utilizando # no caso de uma unica linha e
"""
algo
"""

In [ ]:
first_nm=input("o primeiro nome : ")
last_nm=input("o sobrenome:")
msg= f'{first_nm}[ {last_nm} ]is a coder'
print(msg)

In [ ]:
insert="inserido aqui"
print(f'vamos colocar algo aqui {insert}')

###Print Formatting with Strings

In [ ]:
print('vamos colocar algo aqui {}'.format("INSERIDO AQUI"))

In [ ]:
print("o {0} {2} {1}".format('gato','correu','preto'))

In [ ]:
print("o {g} {p} {c}".format(g='gato',c='correu',p='preto'))

In [ ]:
print('Python rules{}'.format('!'))

In [ ]:
planet = "Earth"
diameter = 12742
print("The diameter of {0}is {1} kilometer".format(planet,diameter))

#como transforma um string em uma lista

In [ ]:
#utilizaçao de funçao
def Convert(string):
    li = list(string.split(" "))
    return li


# Driver code
str1 = "Geeks for Geeks"
print(Convert(str1))

['Geeks', 'for', 'Geeks']

#Operaçoes Matematicas em Python

as regras que usamos na matematica,continuam aqui,
entao as operaçoes contendo o parentese forçam ser feitos primeiro,a exponenciaçao vem antes da multiplicaçao e da divissao que vem antes da soma e da divisao
outra coisa este tipo de operaçao é
'2'-'1' 'eggs'/'easy' 'third'*'a charm'
nao é permitido por serem strings

In [ ]:
#exponenciaçao
a=2**3
#multiplicaçao
b=2*3
print(a)
print(b)

8
6

In [ ]:
#esta divisao resulta  em um valor do tipo float
c=43/2
#esta divisao inteira(QUOCIENTE) que resulta em um valor do tipo  integer
e=15//3
print(c)
print(e)

21.5
5

In [ ]:
#modulo de um valor utilizado para receber o resto de uma operaçao matematica (RESTO)
d=30%2
print(d)

0

In [ ]:
#valor absoluto em python
abs(80-100)

20

In [ ]:
import math
#raiz
print(math.sqrt(16))

4.0

In [ ]:
#Escreva um programa que resolva uma equação de segundo grau.
#nao sabemos o valor de x nem de delta
A=int(input("Digite um numero inteiro  Para varial   A: "))
B=int(input("Digite um numero inteiro  Para variavel B: "))
C=int(input("Digite um numero inteiro  Para variavel C: "))
delta=(B*B) - (4*A*C)
print(delta)
x1=-(B-delta)/(2*A)
x2=-(B+delta)/(2*A)
print("o valor de   x1 é "+str(x1)+" o valor de x2 é "+str(x2))

In [ ]:
0=0.0
#encontrar o erro isso é uma atribuiçao

SyntaxError: ignored

In [ ]:
0 == 0.0

True

In [ ]:
#nesse problemas queremos saber quantos litros de agua vao ser carregadados por cada pessoa se
#o caminhao com agua tem 320.5 litros de agua se temos 60 pessoas
agua=320.5
pessoas=60
print("cada pessoa vai carregar a quantidade de "+str(agua/pessoas)+"de litros de agua")

In [ ]:
#Temos tambem o pow,max,min,abs entre outros
#potencia
elevar=pow(3,2)# 3^2 = 9
print(elevar)

9

In [ ]:
pow(7,4)

2401

In [ ]:
#maximo e minimo entre valores
maior_entre=max(4,6)#o maior entre os valores 4< 6 =6
menor_entre=min(2,7)#o menor entre os dois valores 2<7 =2
print(maior_entre)
print(menor_entre)

In [ ]:
#arrendodamento  pra baixo ou pra cima
arrendodado_cima=round(3.7)
arredondado_baixo=round(3.2)
print(arrendodado_cima)
print(arredondado_baixo)

In [ ]:
import decimal
d=decimal.Decimal("39.54484700000000")
round(d,2)

In [ ]:
#vamos ver um pouco mais sobre operaçoes abaixo

x=3#atribuiçao
y= x + 3
print("o valor de y é:"+str(y))#3+3=6

y+= 3
print("o valor de y + 3 é igual a :"+str(y))#6+3=9

y-= 4
print("o valor de y - 4 é igual a :"+str(y))#9-4=5

y*=2
print("o valor de y vezes 2 é igual a :"+str(y))#5*2=10

In [ ]:
#alem disso podemos print dessa outra forma as seguintes operaçoes


value_1=int(input("Digite um numero inteiro : "))
value_2=int(input("Digite outro numero inteiro: "))
somar= value_1 + value_2

subtrair = value_1 - value_2

dividir=value_1/value_2
multiplicar=value_1*value_2

resto=value_1%value_2
print('Soma: {}  Subtraçao: {}  divisao: {}  multiplicaçao: {};'.format(somar,subtrair,dividir,multiplicar))

Digite um numero inteiro : 5
Digite outro numero inteiro: 2
Soma: {} /n Subtraçao: {} /ndivisao: {}/n multiplicaçao: 7;

In [ ]:
result=100/777
print("o resultado é {r:1.4f}".format(r=result))

o resultado é 0.1287

##Conversão de valores  numericos

In [ ]:
float(9)

9.0

In [ ]:
int(6.0)

6

In [ ]:
int(6.5)

6

#Operador logico e relacional


---


#####Operador relacional
######== se iquais
######!= se diferentes
######<  menor,> maior ,<=  menor iqual,>= maior iqual
---
Operador logico

o operador OR espera que pelo menos uma das condiçoes seja verdadeira

o operador AND espera que as duas das condiçoes sejam verdadeiras

o operador NOT inverte o valor/resultado

In [ ]:
#atividade
#Faça um programa que receba duas notas digitadas pelo usuário.
# Se a nota for maior ou igual a seis, escreva aprovado, senão escreva reprovado.
QG_1=int(input("Informe a primeira atividade avaliativa do aluno/a :"))
QG_2=int(input("Informe a segunda atividade avaliativa do aluno/a :"))
if((QG_1>10 or QG_1<0) or (QG_2>10 or QG_2<0)):
  print("valor inadequado")
else:
  media= (QG_1+QG_2)/2
  if(media>=6):
    print("aluno aprovado ")
  else:
    print("aluno reprovador")

Informe a primeira atividade avaliativa do aluno/a :-1
Informe a segunda atividade avaliativa do aluno/a :1
valor inadequado

In [ ]:
# AND
var1=4
var2=3
var3=6
soma=var1+var3 #10   10>7 10>9
soma2=var1+var2#7    7<10 7<9
soma3=var2+var3#9    9>7 9<10
print(soma>soma2 and soma>soma3) #ambas afirmaçoes sao verdadeiras
print(soma<soma2 and soma>soma3) #ambas afirmaçoes nao sao verdadeiras ,a primeira condiçao é falsa

In [ ]:
#OR

print(soma>soma2 or soma>soma3) #ambas afirmaçoes sao verdadeiras,o or retorna  TRUE que pelo menos 1 seja verdadeira
print(soma<soma2 or soma>soma3) #ambas afirmaçoes nao sao verdadeiras,mas o or retorna true com uma condiçao verdadeira

#Condicional
#####o python tem o if ,elif e o else
#####caso note que sera utilizado muitos elif pense em utilizar o CASE ou o switch
#####if == se
#####elif ou else if == se nao
######TENHA CUIDADO COM A INDENTAÇAO

In [ ]:
#if e elif
cinco=5
if cinco<10:
  print('o valor é inferior a 10 ')
elif cinco>20:
  print('o valor é superior a 20 ');
  #normalmente temos o
  #if condiçao :
  ####um tab ou 4 espaços entao  linha/ou bloco q acontece se cumprir a condiçao
  ####a tecla TAB fica mais a esquerda do teclado proxima do " ' e do Q (normalmente)

In [ ]:
temperatura=25
if temperatura>35:
    print("é um dia escandalte")
elif temperatura>=30:
  print("é um dia comum")
elif temperatura>20:
  print("é um dia ameno")
elif temperatura>10:
  print("é um dia congelante")
else:
  print("é um dia severo")
##aqui temos o fim de um bloco
print('done')

In [ ]:
#vamos para outro exemplo que vamos ver como a indentaçao é importante
var1=4
var3=6
##precisa executar alguns celulas acima pra poder ter o valor ve var1 e var3
if var3>var1:                                                                   #linha 1
  if var3>0:                                                                    #linha 2 aqui temos um tab em relaçao ao 1 if
    print("a variavel var3 é positiva e ela é maior do que a variavel var1")    #liha  3 aqui temos 2 tabs em relaçao ao 1 if
  else:                                                                         #linha 4 aqui temos 2 tabs, esta alinhado com relaçao ao segundo if
    print("a variavel var3 nao é positiva e nao é maior do que a variavel var1")#linha 5 aqui temos 2 tabs
else:                                                                           #linha 6
  print("a variavel var 3 é menor que a variavel var1")                         #linha 7 aqui temos um tab e esta alinhado ao primeiro if

In [ ]:
import math
import os
import random
import re
import sys

if __name__ == '__main__':
    n = int(input().strip())
if(n>1or n<=100):
    if(n%2==0):

        if(n>20):
            print("Not Weird")
        elif(n<=2 or n<=5):
            print("Not Weird")
        else:
            print("Weird")
    else:
        print("Weird")

24
Not Weird

In [ ]:
#insira uma frase e assim podemos avaliar como voce esta agindo
if __name__ == '__main__':
    action= str(input("informe a sua açao\n ex :comendo,dormindo,correndo,falando\n ex2 :viajando,caminhando,lendo,rindo,escutando musica\n"))
action.lower()
if (action=="viajando"or  ("dormindo" in action)):
  print("descansando~")
elif(("caminhando" in action)or ("correndo" in action)):
    print("mexendo o corpo")

elif(("lendo" in action)or action=="rindo"or ("escutando" in action)):
    print("voce esta sendo feliz")
else:
  print("voce esta "+action+",\nvivendo a vida como pode")

informe a sua açao
 ex :comendo,dormindo,correndo,falando
 ex2 :viajando,caminhando,lendo,rindo,escutando musica
escutando
voce esta sendo feliz

In [ ]:
#CONVENSAO DE VALORES NO FORMATO DE  PESO
Weight=input('informe o peso : ')
unit=input('utilizar grams (K)g ou pounds (L)bs:')
if unit.upper()=="L":
  form=int(Weight)*0.45
  print("o valor em Kg é"+str(form))
elif unit.upper()=="K":
  form=int(Weight)/0.45
  print("o valor em Lbs/pounds é :"+str(form))
else:
  print("esta errada o tipo da medida escolhida")

In [ ]:
#https://learn.microsoft.com/pt-br/office/troubleshoot/excel/determine-a-leap-year
def é_bissexto(year):
    leap = False
    if(year%4==0):
        leap=True
        if(year%100==0):
            if(year%400==0):
                leap=True
            else:
                leap=False
    return leap

year = int(input())
print(is_leap(year))
#esse o ano é bissexto

#loop

In [ ]:
#For loops give you more control than
#while loops. You can loop through anything
#that is iterable. e.g. a range, a list, a dictionary
#or tuple.

In [ ]:
i=1
while i<=5:
  print(i)
  i=i+1
print('crescente')

In [ ]:
#repeated
n=5
while n>0:
  print(n)
  n=n-1
print('decrescente')

In [ ]:
numerofinal=int(input("Digite o ultimo numero a imprimir: "))
x=1
while x<= numerofinal:
  print(x)
  x=x+1

Digite o ultimo numero a imprimir5
1
2
3
4
5

In [ ]:
i=1
while i<=5:
  print(i*'*')
  i+=1

In [ ]:

for letter in 'Python':     # First Example
   if letter == 'h':
    break
   print ('Current Letter :', letter)

   #devemos estudar mais depois como utilizar o break ele pode ser interessante mais tarde

Current Letter : P
Current Letter : y
Current Letter : t

##acumuladores

In [ ]:
#spma de 10 numeros
n=1
soma=0
while n<= 10:
  x = int(input("Digite o %dº número: " % n))
  soma = soma+x
  n=n+1
  print("Soma: %d"%soma)
media=soma/10
print("media:",media)

Digite o 1º número: 3
Soma: 3
Digite o 2º número: 2
Soma: 5
Digite o 3º número: 1
Soma: 6
Digite o 4º número: 4
Soma: 10
Digite o 5º número: 5
Soma: 15
Digite o 6º número: 4
Soma: 19
Digite o 7º número: 3
Soma: 22
Digite o 8º número: 2
Soma: 24
Digite o 9º número: 1
Soma: 25
Digite o 10º número: 1
Soma: 26
media: 2.6

##interropendo um looping

In [ ]:
soma = 0
n = 1

while True:
    x = int(input("Digite o %dº número (ou 0 para interromper): " % n))
    if x == 0:
        print("Interrupção do loop solicitada.")
        break
    soma += x
    n += 1

print("A soma é:", soma)
print("Quantidade de numeros digitados",n)
media =soma/(n-1)
print("media ariticetica",media)

KeyboardInterrupt: Interrupted by user

###For e lista

In [ ]:
#dado um valor informado
#devolvemos uma string com os numero 1 ate o valor informado
if __name__ == '__main__':
    n = int(input())
    string=''
    for i in range(1,n,1):
        string =str(i)+string
print(string[::-1])

5
1234

In [ ]:
#se n maior que zero e menor ou igual a 20
#iremos fazer esse valor n vezes ele mesmo
#ate chegar (n-1)*(n-1)
if __name__ == '__main__':
    n = int(input())
    if(n>=1 and n<=20):
      for x in range(n):
       if(x<n):
            print(x*x)

5
0
1
4
9
16

In [ ]:
#aqui temos uma lista feita por numeros inteiros
#que o usuario vai visualizar numero apos numero um abaixo do outro ate chegar ao final
#quando chegar ao final ele deve visualizar a palavra 'end'
lista_int=[5,8,3,4]
for i in lista_int:
  print(i)
print("end")

5
8
3
4
end

In [ ]:
lista_int.index(8)
#retorna a posiçao do numero caso ele seja encontrado

1

In [ ]:
lista_int[-1]
lista_int[-2]

NameError: name 'lista_int' is not defined

In [ ]:
#lembrar de ter cuidado quando utilizar o range com lista
for x in range(5):
  print(x)
  #podemos assim saber em que valor estamos /percorrendo
  #de 0 ate 4

0
1
2
3
4

In [ ]:
for x in range(5,10):
  print(x)
  #podemos assim saber em que valor estamos /percorrendo
  #agora iniciamos do 5 e vamos ate o 9

5
6
7
8
9

In [ ]:
for i in range(5,20,2):
#de 5 ate 19 de 2 em 2
 print(i)
 #pula de 2 em 2

In [ ]:
#coordenadas
for x in range(4):  #outer loop 0 ate 3
  for y in range(3):  ##inner loop
    print(f'{x},{y}')
    #(x,y) plano cartesiano
    #https://youtu.be/_uQrJ0TkZlc?t=6610

In [ ]:
#coordenadas
#https://youtu.be/_uQrJ0TkZlc?t=6549
#https://youtu.be/kqtD5dpn9C8?t=2714

In [ ]:
lista_int.pop()#tira o ultimo elemento da lista
print(lista_int)

In [ ]:
scores = [34, 67, 99, 105]
for s in scores:
 if s > 100:
   print("Invalid")
 break
print(s)

34

In [ ]:
#aqui temos uma lista de numeros
#e queremos apenas os numeros pares
x = [1, 2, 3,4,5,6,7,8,9,10]

#solution :
y = [ i for i in x if i % 2 == 0]

print(y)

[2, 4, 6, 8, 10]

In [ ]:
#Aqui temos outra possivel soluçao para termos o retorno do valores pares
for i in x:
  if(i%2==0):
    print(i)

2
4
6
8
10

In [ ]:
x = [1, 2, 3]
y = [variable-1 for variable in x]
print(y)
#variable e nosso elemento em cada index
#logo nossas variaveis sao 1 2 3
#se fosse varible +1 la no vetor y
#print(y) seria 2,3,4

[0, 1, 2]

In [ ]:
for var in range(5):
 print (var)

0
1
2
3
4

In [ ]:
for var in range(2,11):
 print(var)

2
3
4
5
6
7
8
9
10

In [ ]:
for var in range (0,30,5):
   print(var)

0
5
10
15
20
25

In [ ]:
soma=0
for var in range(1,4):
  nota=float(input("informe a sua nota "+str(var)+"?"))
  soma=soma+nota
result = soma/var

print(soma)
print(result)

informe a sua nota 1?6
informe a sua nota 2?8
informe a sua nota 3?5
19.0
6.333333333333333

#Listas

In [ ]:
#uma lista pode ter diversos tipos de dados
#podendo ser float,boolean,string
#podemos criar uma lista de listas

In [ ]:
nome='luis'
nome1='pedro'
nome2='lucas'
nomes=[nome,nome1,nome2]
nomes.append("fernando")
print(nomes)

['luis', 'pedro', 'lucas', 'fernando']

In [ ]:
#index do elemento
nomes.pop(2)
print(nomes)

['luis', 'pedro']

In [ ]:
#o remove so retira o elemento q ele encontrar igual
#ele retira o primeiro elemento q ele encontrar igual
lista=['lucas',2,4,6,9,2]
lista.append("pedrita")
lista.remove(6)
print(lista)

['lucas', 2, 4, 9, 2, 'pedrita']

In [ ]:
lista.index(4)

2

In [ ]:
#count retona a quantidade q aquele elemtno se repete
lista.count(2)

2

In [ ]:
num=[1,2,7,3,4,0,5,6]
num.sort()
#o sort so é possivel com elementos do mesmo tipo
print(num)

[0, 1, 2, 3, 4, 5, 6, 7]
28

In [ ]:
#soma de todos os valores da lista
print(sum(num))

In [ ]:
numeros=[5,2,5,2,2,5]
index=0
while index < len(numeros):
 letter = numeros[index]
 print (letter*'x')
 index = index + 1

xxxxx
xx
xxxxx
xx
xx
xxxxx

In [ ]:
list_string=["vila","pizzaria","padaria","casa","trabalho","praia","estudo","cidade","fazenda"]
print(list_string)

list_string.sort()
print(list_string)

del list_string[:-1]#List Slicing
print(list_string)

['vila', 'pizzaria', 'padaria', 'casa', 'trabalho', 'praia', 'estudo', 'cidade', 'fazenda']
['casa', 'cidade', 'estudo', 'fazenda', 'padaria', 'pizzaria', 'praia', 'trabalho', 'vila']
['vila']

In [ ]:
coisa_list=["casa",1,1.9,'lua']
print(coisa_list)

['casa', 1, 1.9, 'lua']

In [ ]:
coisa_list.insert(3, "mar")#aqui passamos o index e o elemento
print(coisa_list)

In [ ]:
coisa_list.append("vida")
print(coisa_list)

In [ ]:
lista=[5,8,9,11,40,22,21,33,10,1,0,2,90,10,2,190]
lista.reverse()

print(lista)

lista=sorted(lista)
print(lista)

lista.sort(reverse=True)
print(lista)

lista.pop()#Removes and returns last object or obj from list

In [ ]:
set(lista)#os valores aqui nao existem sendo repetidos;/sao unicos

In [ ]:
#escreva um programa que ordene uma lista numérica com três elementos.
lista=[6,2,1]
lista=sorted(lista)
print(lista)

In [ ]:
#como coletar algo desejado dentro de uma lista
lst = [1,2,[3,4],[5,[20,40,['Destino']],90,122,1010],2,4,7]

segunda_lista=lst[3]

print(segunda_lista)
terceira_lista=segunda_lista[1]

print(terceira_lista)
palavra_desejada=terceira_lista[2]

print(palavra_desejada)

[5, [20, 40, ['Destino']], 90, 22, 1010]
[20, 40, ['Destino']]
['Destino']

In [ ]:
#aqui como a lista dentro da lista bolo
bolo = ['farinha de trigo', 'ovo', 'leite', 'manteiga']
bolo.append(['açucar', 'fermento'])##melhor pra desempenho por adicionar sempre ao final da lista
print(bolo[4:])

[['açucar', 'fermento']]

In [ ]:
##aqui como elemento da lista
bolo = ['farinha de trigo', 'ovo', 'leite', 'manteiga']
bolo.extend(['açucar', 'fermento'])
print(bolo)

['farinha de trigo', 'ovo', 'leite', 'manteiga', 'açucar', 'fermento']

In [ ]:
#list comprehension
#uma outa forma de fazer uma operaçao sobre de uma forma mais abstrata

num_normal=[2,4,6,8,1]
num_multi=[i*(i+1) for i  in  num_normal]
print("esta e a minha lista normal"+str(num_normal))

#[2*(2+1) , 4*(4+1) , 6*(6+1) ,8*(8+1) + 1*(1+1)]

print("esta é minha lista"+str(num_multi))

esta e a minha lista normal[2, 4, 6, 8, 1]
esta é minha lista[6, 20, 42, 72, 2]

##lista e string

In [ ]:
# Converte uma string em uma lista.
s = list("So much drama .")
print(s)

# Converte uma lista em uma string.
l = [ "S","o"," ","m","u","c","h"," ", "d","r","a","m","a"," ","."]
print(''.join(l))

['S', 'o', ' ', 'm', 'u', 'c', 'h', ' ', 'd', 'r', 'a', 'm', 'a', ' ', '.']
So much drama .

In [ ]:
#aqui temos uma funçao na qual recebemos um valor qualquer e printamos do valor 1 ate o valor qualquer
if __name__ == '__main__':
    n = int(input())
    lista=[]
    for x in range(n):
        lista.append(str(x))
        cao= ''.join(lista)
    print(cao[1::])

4
123

enumerate

In [ ]:
#a funçao enumerate serve para coloca a lista na ordem crescente
list_string=["vila","pizzaria","padaria","casa","trabalho","praia","estudo","cidade","fazenda"]

for i, word in enumerate(list_string):
    print(i, word)

In [ ]:
complicado = {'k1':[{'nest_key':['dentro da nest key',['o fundo']]}]}
#pegue o fundo

print(complicado["k1"][0])

{'nest_key': ['dentro da nest key', ['o fundo']]}

#FIFO FALTA



#Dictionaries in Python


---

#####desordenado,cam not be sorted
#####Dictionaries objects retrieved by key name
#####sao mutaveis
#####Dictionaries retain order and are a sequence - é uma afirmaçao falsa (incorreta)

In [ ]:
#del dictionarie ;        # delete entire dictionary
#dict.clear();     # remove all entries in dict
#Keys must be immutable. Which means you can use strings, numbers or tuples as dictionary keys but something like ['key'] is not allowed. Following is a simple example

In [ ]:
my_dict={"comida" : "pizza","bebida" : "cha mate"}
my_dict #pode ser usado para print

In [ ]:
print(my_dict["comida"])

In [ ]:
dicionario_vazio = {}
print("Dicionário vazio: ", dicionario_vazio)

paises = {'BRA': 'Brasil', 'EUA': 'Estados Unidos', 'FRA': 'França'}
print("Exemplo de dicionário: ", paises)

print("Tipo de um dicionário: ", type(paises))

print("Exemplo de dicionário: ", paises["BRA"])

Dicionário vazio:  {}
Exemplo de dicionário:  {'BRA': 'Brasil', 'EUA': 'Estados Unidos', 'FRA': 'França'}
Tipo de um dicionário:  <class 'dict'>
Exemplo de dicionário:  Brasil

In [ ]:
#utilizaçao de formatting with string and concatenation
dictionarie={"k1":[1,2,3,4],"k2":["casa","praia","rua"]}

other_list=dictionarie["k1"]

espaço_list=dictionarie["k2"]

print("este é meu dicionario{d}".format(d=dictionarie)+'\n'+"ele possuem 2 itens que sao : este primeiro item{um}".format(um=other_list)

+'\n'+ "este sedundo item do dicionario{dois}".format(dois=espaço_list))

lista_lugar=dictionarie["k2"][0].upper()
print(lista_lugar)

este é meu dicionario{'k1': [1, 2, 3, 4], 'k2': ['casa', 'praia', 'rua']}
ele possuem 2 itens que sao : este primeiro item[1, 2, 3, 4]
este sedundo item do dicionario['casa', 'praia', 'rua']
CASA

In [ ]:
del dictionarie['k2']; # remove entry with key 'k2'

In [ ]:
d={"v1":100,"v2":200}
d

In [ ]:
d["v3"]=300
d

In [ ]:
d["v4"]={"inside key ":200}

In [ ]:
i=0
for i  in d.values():
  print(i)

# Modularizaçao ou Def //functions
####A function is a block of organized, reusable code that is used to perform a single, related action. Functions provide better modularity for your application and a high degree of code reusing.

In [ ]:
#funçoes sao definidas sao palavra reservada def
#Functions are considered as the building blocks of any programming language.

In [ ]:
def hi(x):
  print("Ola"+str(x)+"seja bem vindo")
hi(input("informe o seu nome"))

informe o seu nome6
hii6

In [ ]:
def soma(x,y):
  return x+y;

print(soma(2,6))
#aqui temos uma funçao com input

8

In [ ]:
# Outro exemplo de função que retorna um valor.
def eleva_ao_quadrado(n):
    return n ** 2

print("O número {} elevado ao quatrado é {}".format(10, eleva_ao_quadrado(10)))
#aqui temos um output

In [ ]:
def foo(a, b=4, c=6):
    print(a, b, c)

foo(20, c=12)
#aqui temos uma funçao com input

20 4 12

In [ ]:
def soma(*args):
    resultado = 0
    for numero  in args:
        resultado += numero
    return resultado


def main():
    print(soma(4,7,11))

    print(soma(8,4,1))

    print(soma(4,2))

    print(soma(2,2,5))
print(main())
    #ai é quando nos entendemos

22
13
6
9
None

In [ ]:
def visitar(*lugares):
  for canto in lugares:
    print(f"ja passamos por {canto}")

def main():
  visitar("trabalho","praia","estudo","cidade","fazenda")

print(main())

ja passamos por trabalho
ja passamos por praia
ja passamos por estudo
ja passamos por cidade
ja passamos por fazenda
None

In [ ]:
def a_function(a_parameter):
    a_variable = 15
    return a_parameter

a_function(10)

print(a_variable)
#aqui da um erro ja que temos um comando fora do nossa funçao
#deveriamos ter criado ela dentro no bloco da nossa funçao
#aqui temos um output

NameError: ignored

In [ ]:
def print_twice():
  print("bruce")
  print("bruce")
print_twice()

bruce
bruce

In [ ]:
# Function definition is here
def printme( str ):
   "This prints a passed string into this function"
   print (str)
   return;

# Now you can call printme function
printme("fazendo a chamada  dessa funçao")
printme("chamando novamente a mesa funçao tambem podemos mandar outras coisas")
#aqui estamos chamando a mesma funçao duas vezes mas estamos passando diferentes parametros

In [ ]:
def print_lyrics():

   print("I'm a lumberjack, and I'm okay.")
   print('I sleep all night and I work all day.')

def repeat_lyrics():
  print_lyrics()
  print_lyrics()
repeat_lyrics()

I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.
I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.

In [ ]:
def fuc ():
  result=0
  for k in range(0, 10):
    if(( k % 2 ) == 1 ):
       result = result + k
       print(result)
    else:
      result=result+1
      print(result)

fuc()

1
2
3
6
7
12
13
20
21
30

In [ ]:

#modificamos o parametro que quebra do nosso string
def get_mail(string):
    li = list(string.split("@"))
    #pegamos a 2 parte da saber o tipo da fonte de email 
    return li[1]
   #retornamos o tipo

# Driver code
mail = "fefeNandez@gmail.com"

mail1= "dodo12@outlook.com"
mail2= "meialua24@hotmail.com"
print("email 1 : "+get_mail(mail)+", email 2 : "+get_mail(mail1)+" ,email 3 : "+get_mail(mail2))

email 1 : gmail.com, email 2 : outlook.com ,email 3 : hotmail.com

In [ ]:
# Definição do dicionário de produtos e listas de itens
produtos = {
    "Bebidas": ["coca", "cha mate", "agua", "chocolate quente"],
    "Comida": ["bolo", "file com fritas", "chocolate"],
    "Custo_Bebidas": [5.0, 2.4, 0.5, 2],
    "Custo_Comida": [10, 20, 5.3]
}

bebidas_list = produtos["Bebidas"]
alimentos_list = produtos["Comida"]

custoC_list = produtos["Custo_Comida"]
custoB_list = produtos["Custo_Bebidas"]

# Função para exibir os produtos disponíveis
def exibir_produtos():
    print("Produtos disponíveis:")
    print("Lista de Bebidas:")
    for i, bebida in enumerate(bebidas_list):
        print(f"{i + 1}. {bebida} - R${produtos['Custo_Bebidas'][i]:.2f}")
    print("Lista de Comida:")
    for i, comida in enumerate(alimentos_list):
        print(f"{i + 1}. {comida} - R${produtos['Custo_Comida'][i]:.2f}")

# Função para obter a posição do item na lista de bebidas
def itemPosiçãoB(item):
    achou = False
    i = 0
    while i < len(bebidas_list):
        if bebidas_list[i] == item:
            achou = True
            break
        i += 1
    if achou:
        return i
    else:
        return -1

# Função para obter a posição do item na lista de alimentos
def itemPosiçãoC(item):
    achou = False
    i = 0
    while i < len(alimentos_list):
        if alimentos_list[i] == item:
            achou = True
            break
        i += 1
    if achou:
        return i
    else:
        return -1
    
# Função para calcular o preço da bebida com base na quantidade
def calcular_preço_bebida(posição):
    qtd = int(input("Informe a quantidade do item que você deseja: "))
    valor = custoB_list[posição] * qtd
    return valor

# Função para calcular o preço da comida com base na quantidade
def calcular_preço_comida(posição):
    qtd = int(input("Informe a quantidade do item que você deseja: "))
    valor = custoC_list[posição] * qtd
    return valor

# Saudação inicial
print("Seja bem-vindo à loja")
exibir_produtos()

# Obtenção da opção do usuário
opçãolista = int(input("Selecione 1 para selecionar algum item da lista de bebidas disponíveis\nSelecione 2 para selecionar algum item da lista de alimentos disponíveis\nSelecione 0 para sair do menu: "))

if opçãolista == 1:
    escolhido = input("Informe por escrito qual o nome do item selecionado: ")
    posição = itemPosiçãoB(escolhido)
    if posição != -1:
        totalB = calcular_preço_bebida(posição)
        print(f"O valor total para {escolhido} é: R${totalB:.2f}")
    else:
        print("Item não encontrado na lista de bebidas.")
        
elif opçãolista == 2:
    escolhido = input("Informe por escrito qual o nome do item selecionado: ")
    posição = itemPosiçãoC(escolhido)
    if posição != -1:
        totalC = calcular_preço_comida(posição)
        print(f"O valor total para {escolhido} é: R${totalC:.2f}")
    else:
        print("Item não encontrado na lista de alimentos.")

elif opçãolista == 0:
    print("Obrigado por visitar nossa loja. Até logo!")

else:
    print("Opção inválida. Por favor, selecione uma opção válida.")

#MAP

In [ ]:
#pode ser utilizado para voce aplicar uma funçao que voce criou
#a valores que voce tem interesse que sofram a açao da funçao e entao retorne algo
#FUNÇAO MAP
def soma(x):
    return x+x
value=[3,6,9,12]
value_more=Map(soma,value)
#map to list
value_more=list(value_more)

NameError: ignored

#REDUCE

#ZIP
COPILA MAIS DE UMA LISTA DURANTE UM LALI

In [ ]:
#pode ser utilizado para interagir com mais de duas listas ao mesmo tempo
#recebe como parametro lista e inputa tuples

#Vetores
[*array*](https://numpy.org/doc/stable/user/basics.creation.html)

[index](https://thispointer.com/find-the-index-of-a-value-in-numpy-array/)

---

o array é mutavel e seus items sao do mesmo tipo de dado sempre

In [ ]:
a = np.array([2, 3, 4, 5, 6,10,15, 45, 67, 34])

In [ ]:
a.size

10

In [ ]:
result = np.where(a == 15)
print('retorno do array e posiçao : ', result)
print("retornando a possiçao onde o elemento de valor 15 é encontrato ", result[0], sep='\n')

Tuple of arrays returned :  (array([6]),)
Elements with value 15 exists at following indices
[6]

In [ ]:
#cria um vetor que cresce regularmente /
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
#numpy.linspace criará arrays com um número especificado de elementos
#e espaçado igualmente entre os valores inicial e final especificados.
np.linspace(0., 8., 6)

array([0. , 1.6, 3.2, 4.8, 6.4, 8. ])

In [ ]:
#array de duas dimensoes
a2D = np.array([[1, 2], [3, 4]])

In [ ]:
#esse exemplo é uma matriz identidade
#onde quando i=j sera igual a 1(linha coluna)
np.eye(4, 4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [ ]:
a = np.array([10,11,12,13,14,15,16,17,18,,19,20])
print(arr)

NameError: ignored

In [ ]:

import numpy as np

# create numpy array elements
a = np.array([2, 3, 4, 5, 6, 45, 67, 34])

# display element index where value = 45

index_of_element = -1
for i in range(a.size):
    if a[i] == 45:
        index_of_element = i
        break

if index_of_element != -1:
    print("element index  : ", index_of_element)
else:
    print("The element not present")

In [ ]:
#as tuplas sao um tipo especial de array que armazena diferentes tipos de data na mesma coleçao
#enquanto o array precisa ser do mesmo tipo de dado e sao mutaveis

#Tuples ou tuplas


---


####nao podem ser modificadas/sao imutaveis
####pode fazer o wap = é a troca dos valores de duas variáveis da tupla
####Entretanto, ela não é completamente imutável, pois quando armazena outro
####nao  aceitam muitos metodos

In [ ]:
a = [1, 4, 3]
b = [3, 2, 2]

def store_original_ids():
    a = [1, 4, 3]
    b = [3, 2, 2]

store_original_ids()
#aqui tempos um SWAP
temp =b
b=a
a=temp
#que tambem poderia ser resolvido assim

##a, b = a, b

def check():
     if a==[3, 2, 2] and b ==[1, 4, 3] :
            print('certo')

check()

certo

In [ ]:
Estados = namedtuple('Estados', ['sigla', 'nome'])
estado_pe = Estados('PE', 'Recife')
estado_pe

In [ ]:
Estados(sigla='PE', nome='recife')
print(estado_pe.sigla)
print(estado_pe.nome)

In [ ]:
#devemos  usar uma 3 variavel para fazer o wap funcionar corretamente
#caso contrario um dos valores das variaveis sera perdido
#observe abaixo:
coordenada_xy = (10, 20)
x, y = coordenada_xy
temp=x   # 10
x=y      # 20
y=temp   # 10
#portanto usamos a variavel temp para armazena o valor de x antes dele ser modificado/substituido por um novo valor
print("valor de variavel  x : "+str(x)+   "\n"
     +"valor de variavel  y : "+ str(y) + "\n"
    + "valor de variavel temp : "+ str(temp))
#para usar esses valores que conhecemos precisamos colocar eles como se fossem string

In [ ]:
# Swap com tuplas.
print("x e y antes do swap: ", x, y)

x, y = y, x

print("x e y depois do swap: ", x, y)

In [ ]:
tupla_nomes = ('Giordano', 'Paulo', 'Lucas', 'João', 'Felipe')
#se o elemento esta na tupla
print('Giordano' in tupla_nomes)

print('Paulo' in tupla_nomes)

print (tupla_nomes.count('Lucas')) #< possui unica vez o nome lucas

print(tupla_nomes.index("João"))# retorna a posiçao na tupla

True
True
1
3

In [ ]:
# tupla com apenas um elemento
#nao precisa usar sempre ()
tupla_elemento = 10,
tupla_elemento

In [ ]:
nick=("n","i","n","a")

nick.index("n")#retorna a vez q aparece primeiro

In [ ]:
name_1=("m","a","r","i","a","n","a")

print(name_1.index("n"))#retorna a vez q aparece primeiro

print(name_1.index("a"))

#Matrizes-FALTA CONTINUAR
######sao criadas a partir de uma lista com varias dimensoes

#SETS- FALTA CONTINUAR

In [ ]:
myset=set()
myset.add(1)
myset.add(3)
myset.add(2)
myset.add(3)
print(myset)
#ver mas coisas o Sets em python
#valores unicos

{1, 2, 3}

In [ ]:
type(myset)

set

#args

In [ ]:
#*Args permite você passar um número indeterminado de parâmetros para uma função.
# Os argumentos são passados por posição, ou seja, sem nenhuma chave que os identifique.
#A identificação depende apenas da posição em que o parâmetro é passado.

#Tratamento de exceçoes
#####https://docs.python.org/3/library/exceptions.html
#####https://www.tutorialspoint.com/python-exception-base-classes

In [ ]:
lista1=[1,10]
try:
  divisao=10/1               #se for 10/0 da o erro
  num1=lista1[1]             #se for 3 da o erro

except ZeroDivisionError:
  print("nao é possivel realizar uma divisao por 0")
except IndexError:
  print("error ao acessar um indice invalido da lista")
else :
  print("nao houve nenhuma exception")

In [ ]:
#outra maneira de ligar com esse tipo de erro de atribuiçao e outros erros tambem
#todas as exception tem pai e tem filho
try:
  x=a
except BaseException as ex:
  print('erro desconhecido. Error :{}'.format(ex))

#Leitura de arquivo

In [ ]:
arquivo = open('menino de cafe.txt', 'r') # <<funçao open para abrir o arquivoe o 'r' para indicar leitura
##issso é um handle
conteudo = arquivo.read() #aqui lemos o arquivo e passamos o conteudo do arquivo para variavel conteudo
print(conteudo)
#o arquivo precisa ser carregado em arquivos
#https://youtu.be/Fo1tW09KIwo

a luz do sol entra pela janela,clareado o ambiente
o calor que tinha antes dentro do quarto se dissipa com a forte rajada de vento que sai pela janela.
os fios castanhos ganham sutis tons avermelhados e alaranjados,o rosto palido se torna levemente rosado
os cachos mesmo ainda pequenos sao bonitos e combinam com o garoto
ele nao se encolhe com o frio que começa a tomar conta do quarto com o passar do tempo.
ele continua perto da janela observando o ceu
admirado talvez com o branco do ceu  ou talvez apreciando o barulho da chuva ou ate mesmo observando o temporal que acontece la fora.
apesar de cantarolar e de dançar pela casa com frequencia ele nao costumava conversa sozinho e tambem nao andava fazendo barulho.
os olhos continuavam fixos na janela mesmo apos a queda de algum objeto no andar de baixo da casa
nos viviamos naquela casa ja se tinha 5 anos e mesmo assim eu so o via raramente pele casa
mas todos sabiam dos passos de dança pela cozinha,foi por causa dele que fiquei de castigo por duas semanas apos ele esquecer o arroz no fogo
nao so eu fiquei como todos que estavam na cozinha aquele dia..

links:
https://guiarails.com.br/security.html
https://dev.to/leandronsp/web-basics-a-tcp-server-in-ruby-947
https://medium.com/rubycademy/how-network-programming-is-represented-in-ruby-bed554256648

https://jzolotarev.medium.com/on-the-rails-c8c4721fd55a
https://www.bluleadz.com/blog/http-vs-https-understanding-the-difference-picking-the-best-option-for-your-website
https://www.treinaweb.com.br/blog/o-que-e-ruby-on-rails
https://prograils.com/top-10-famous-sites-built-with-ruby-on-rails
https://www.freecodecamp.org/news/understanding-the-basics-of-ruby-on-rails-http-mvc-and-routes-359b8d809c7a/
https://devcenter.heroku.com/articles/getting-started-with-rails7
https://medium.com/analytics-vidhya/deploy-ruby-on-rails-6-application-to-heroku-3d07a8d7428c
https://guides.rubyonrails.org/routing.html
https://www.youtube.com/watch?v=_-Dnys7_ESE&t=1s
https://www.youtube.com/watch?v=EQcsD3ff14E&list=PLCC34OHNcOtoz3tvoN9uDkIAaDYqPqoEr
https://www.youtube.com/watch?v=fmyvWz5TUWg&t=3160s
https://tadhao.medium.com/everything-about-rails-router-cb82faa1b8a1

-LENDO-LIDO
https://www.devmedia.com.br/introducao-a-rotas-e-responders-no-ruby-on-rails/33521 < BOM,vale ler ate a parte de RESTful
https://blog.skylight.io/the-lifecycle-of-a-request/< iniciando
https://www.freecodecamp.org/news/understanding-the-basics-of-ruby-on-rails-http-mvc-and-routes-359b8d809c7a/ < lendo,logo no inicio tem conceitos basicos massa
https://www.javatpoint.com/ruby-on-rails-router

In [ ]:
sequence=open('menino de cafe.txt', 'r')
count=0
for linetoline in sequence :
  count=count+1
  print(linetoline)
#forma elegante
print("temos o total de "+str(count)+" linhas no nosso texto")

a luz do sol entra pela janela,clareado o ambiente

o calor que tinha antes dentro do quarto se dissipa com a forte rajada de vento que sai pela janela.

os fios castanhos ganham sutis tons avermelhados e alaranjados,o rosto palido se torna levemente rosado

os cachos mesmo ainda pequenos sao bonitos e combinam com o garoto

ele nao se encolhe com o frio que começa a tomar conta do quarto com o passar do tempo.

ele continua perto da janela observando o ceu

admirado talvez com o branco do ceu  ou talvez apreciando o barulho da chuva ou ate mesmo observando o temporal que acontece la fora.

apesar de cantarolar e de dançar pela casa com frequencia ele nao costumava conversa sozinho e tambem nao andava fazendo barulho.

os olhos continuavam fixos na janela mesmo apos a queda de algum objeto no andar de baixo da casa

nos viviamos naquela casa ja se tinha 5 anos e mesmo assim eu so o via raramente pele casa

mas todos sabiam dos passos de dança pela cozinha,foi por causa dele que fiquei de castigo por duas semanas apos ele esquecer o arroz no fogo

nao so eu fiquei como todos que estavam na cozinha aquele dia..



links:

https://guiarails.com.br/security.html

https://dev.to/leandronsp/web-basics-a-tcp-server-in-ruby-947

https://medium.com/rubycademy/how-network-programming-is-represented-in-ruby-bed554256648



https://jzolotarev.medium.com/on-the-rails-c8c4721fd55a

https://www.bluleadz.com/blog/http-vs-https-understanding-the-difference-picking-the-best-option-for-your-website

https://www.treinaweb.com.br/blog/o-que-e-ruby-on-rails

https://prograils.com/top-10-famous-sites-built-with-ruby-on-rails

https://www.freecodecamp.org/news/understanding-the-basics-of-ruby-on-rails-http-mvc-and-routes-359b8d809c7a/

https://devcenter.heroku.com/articles/getting-started-with-rails7

https://medium.com/analytics-vidhya/deploy-ruby-on-rails-6-application-to-heroku-3d07a8d7428c

https://guides.rubyonrails.org/routing.html

https://www.youtube.com/watch?v=_-Dnys7_ESE&t=1s

https://www.youtube.com/watch?v=EQcsD3ff14E&list=PLCC34OHNcOtoz3tvoN9uDkIAaDYqPqoEr

https://www.youtube.com/watch?v=fmyvWz5TUWg&t=3160s

https://tadhao.medium.com/everything-about-rails-router-cb82faa1b8a1



-LENDO-LIDO

https://www.devmedia.com.br/introducao-a-rotas-e-responders-no-ruby-on-rails/33521 < BOM,vale ler ate a parte de RESTful

https://blog.skylight.io/the-lifecycle-of-a-request/< iniciando

https://www.freecodecamp.org/news/understanding-the-basics-of-ruby-on-rails-http-mvc-and-routes-359b8d809c7a/ < lendo,logo no inicio tem conceitos basicos massa

https://www.javatpoint.com/ruby-on-rails-router
temos o total de 36 linhas no nosso texto

In [ ]:
arquivo = open('menino de cafe.txt', 'r') # <<funçao open para abrir o arquivoe o 'r' para indicar leitura
##issso é um handle
conteudo = arquivo.read() #aqui lemos o arquivo e passamos o conteudo do arquivo para variavel conteudo
print(len(conteudo))##chacracter
print(conteudo[:12])

2585
a luz do sol

In [ ]:

try:
  arquivo = open('menino de cafe.txt', 'r')
  texto = arquivo.read()
finally:
  print("fechando o arquivo")
  at=arquivo.close()
  #Utilizamos o Finally nesse caso para que independente que aja erro ou nao
  #ocorra o fechamento do arquivo

fechando o arquivo

In [ ]:
pwd

'/content'

In [ ]:
#O método de arquivo Python seek() define a posição atual do arquivo no deslocamento.
#O argumento wherece é opcional e o padrão é 0, o que significa posicionamento absoluto do arquivo,
#outros valores são 1, o que significa busca em relação à posição atual e 2 significa busca em relação ao final do arquivo.

In [ ]:
#aqui temos outra forma de ler e exibir o arquivo
x = open('test.txt', 'w')
x.write('This is my file')
x.close()

In [ ]:
#aqui estamos escrevendo dentro do arquivo
with open('test.txt', 'w') as doc_Escrita:
    doc_Escrita.write("This is line A\n")
    doc_Escrita.write("This is line B\n")

In [ ]:
#neste aqui adicionamos uma linha ao texto
with open('/resources/data/Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")

FileNotFoundError: ignored

In [ ]:
# linhas para ser colocadas no arquivo do tipo txt

Lines = ["Doubt thou, the stars are fire \n", "Doubt, that the sun doth move \n", "Doubt truth to be a liar \n","But never doubt I love \n"]
Lines

# escrita das linhas no arquivo

with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

Doubt thou, the stars are fire

Doubt, that the sun doth move

Doubt truth to be a liar

But never doubt I love

In [ ]:
#procurar saber mais sobre mode  para trabalhar com arquivos  como 'r+'

#FLASK utilizaçao para web

In [ ]:
!pip install flask-ngrok
!pip install flask-bootstrap

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting flask-ngrok
  Downloading flask_ngrok-0.0.25-py3-none-any.whl (3.1 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from flask-ngrok) (2.25.1)
Requirement already satisfied: Flask>=0.8 in /usr/local/lib/python3.8/dist-packages (from flask-ngrok) (1.1.4)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.8/dist-packages (from Flask>=0.8->flask-ngrok) (1.1.0)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.8/dist-packages (from Flask>=0.8->flask-ngrok) (7.1.2)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.8/dist-packages (from Flask>=0.8->flask-ngrok) (2.11.3)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.8/dist-packages (from Flask>=0.8->flask-ngrok) (1.0.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->flask-ngrok) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->flask-ngrok) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->flask-ngrok) (2022.12.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->flask-ngrok) (4.0.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from Jinja2<3.0,>=2.10.1->Flask>=0.8->flask-ngrok) (2.0.1)
Installing collected packages: flask-ngrok
Successfully installed flask-ngrok-0.0.25
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting flask-bootstrap
  Downloading Flask-Bootstrap-3.3.7.1.tar.gz (456 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 456.4/456.4 KB 7.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: Flask>=0.8 in /usr/local/lib/python3.8/dist-packages (from flask-bootstrap) (1.1.4)
Collecting dominate
  Downloading dominate-2.7.0-py2.py3-none-any.whl (29 kB)
Collecting visitor
  Downloading visitor-0.1.3.tar.gz (3.3 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.8/dist-packages (from Flask>=0.8->flask-bootstrap) (1.1.0)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.8/dist-packages (from Flask>=0.8->flask-bootstrap) (7.1.2)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.8/dist-packages (from Flask>=0.8->flask-bootstrap) (1.0.1)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.8/dist-packages (from Flask>=0.8->flask-bootstrap) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from Jinja2<3.0,>=2.10.1->Flask>=0.8->flask-bootstrap) (2.0.1)
Building wheels for collected packages: flask-bootstrap, visitor
  Building wheel for flask-bootstrap (setup.py) ... done
  Created wheel for flask-bootstrap: filename=Flask_Bootstrap-3.3.7.1-py3-none-any.whl size=460123 sha256=25319ee76faadc4248848e94c2b987fc2b2799acd8081c924f017d44f2132296
  Stored in directory: /root/.cache/pip/wheels/f2/a3/85/fe8b65a65a447c9906e3b7edb7d9e6c74dfa9c8425c3dd3007
  Building wheel for visitor (setup.py) ... done
  Created wheel for visitor: filename=visitor-0.1.3-py3-none-any.whl size=3943 sha256=a983ffa1d9c564a501331a8a1c0025c145eace2bc1fe876ce157205544974eff
  Stored in directory: /root/.cache/pip/wheels/d3/40/52/5dae7760434a82caf8b8f88323029188b2d4ea3ac1235e550a
Successfully built flask-bootstrap visitor
Installing collected packages: visitor, dominate, flask-bootstrap
Successfully installed dominate-2.7.0 flask-bootstrap-3.3.7.1 visitor-0.1.3

In [ ]:
from flask_ngrok import run_with_ngrok
from flask import Flask, render_template , request
import os

#criaçao da instancia
app = Flask(__name__)

@app.route("/")
def hello_world():
    return "<p>Hello, World!</p>"

#referencia :

In [ ]:
#referencia
# https://www.geeksforgeeks.org/try-except-else-and-finally-in-python/
# https://www.freecodecamp.org/news/learning-python-from-zero-to-hero-120ea540b567/
# https://algoritmosempython.com.br/cursos/programacao-python/listas/
# https://www.youtube.com/watch?v=t8pPdKYpowI
# https://www.youtube.com/watch?v=rfscVS0vtbw
# https://www.w3schools.com/python/python_for_loops.asp
# youtube.com/watch?v=kqtD5dpn9C8
# https://youtu.be/Fo1tW09KIwo
# https://algoritmosempython.com.br/cursos/programacao-python/entrada-saida/
# https://www.youtube.com/watch?v=ax3kaDGa1YE
# https://algoritmosempython.com.br/cursos/programacao-python/fluxo-controle/
# https://algoritmosempython.com.br/cursos/programacao-python/tuplas/
# https://blog.betrybe.com/tecnologia/tuplas-em-python/#:~:text=Boa%20leitura!-,O%20que%20%C3%A9%20tupla%3F,alterar%20ou%20remover%20seus%20elementos.
# https://docs.python.org/3/tutorial/controlflow.html
# https://pydatascience.org/data-science-cheatsheets/
# https://programmingwithmosh.com/wp-content/uploads/2019/02/Python-Cheat-Sheet.pdf
# https://www.youtube.com/watch?v=u-OmVr_fT4s
# https://github.com/Pierian-Data/Complete-Python-3-Bootcamp
# https://projecteuler.net/archives
# http://codingbat.com/python
# https://www.tutorialspoint.com/python-exception-base-classes
# https://docs.python.org/3/library/exceptions.html
#https://www.geeksforgeeks.org/python-math-function-sqrt/
# 2022 Complete Python Bootcamp From Zero to Hero in Python
# https://www.techtudo.com.br/noticias/2018/10/o-que-sao-cookies-entenda-os-dados-que-os-sites-guardam-sobre-voce.ghtml
# https://www.freecodecamp.org/learn/scientific-computing-with-python/python-for-everybody/build-your-own-functions
# https://www.tutorialspoint.com/python/python_functions.htm
# https://www.tutorialspoint.com/python/python_break_statement.htm
# https://towardsdatascience.com/how-to-make-goodreads-com-top-400-list-8e3a26e509bf
# https://www.sqlshack.com/understanding-args-and-kwargs-arguments-in-python/
# https://cadernodelaboratorio.com.br/args-e-kwargs-o-que-significam-em-python/
# file:///C:/Users/Dell/Documents/estudos/100%20dias%20com%20python/Python+Syntax+Cheat+Sheet+Booklet.pdf
# https://stackoverflow.com/questions/4967580/how-to-get-the-size-of-a-string-in-python
#  Replit pode ser usado tb para codar
#https://www.youtube.com/watch?v=Ej_02ICOIgs
#https://www.youtube.com/watch?v=XGf2GcyHPhc
#https://www.youtube.com/watch?v=LHBE6Q9XlzI
#https://www.youtube.com/watch?v=EsDFiZPljYo&list=PLWKjhJtqVAblvI1i46ScbKV2jH1gdL7VQ
#https://www.youtube.com/watch?v=JeznW_7DlB0
# https://www.tutorialspoint.com/python/python_date_time.htm
# https://www.w3schools.com/python/ref_keyword_finally.asp
#https://stackoverflow.com/questions/52345913/how-to-handle-wait-for-input-signal-in-python
#https://stackabuse.com/getting-user-input-in-python/
#https://docs.python.org/3/library/signal.html
#https://www.linkedin.com/pulse/signal-processing-python-part-1-generate-signals-basic-hampiholi
#https://colab.research.google.com/github/computationalcore/introduction-to-python/blob/master/notebooks/4-files/PY0101EN-4-2-WriteFile.ipynb#scrollTo=fFFgFOl00uqo

In [ ]:
#pessoas importantes na computaçao:
# https://deepai.org/profile/sanjay-ghemawat
# https://en.wikipedia.org/wiki/Sanjay_Ghemawat
# https://pt.wikipedia.org/wiki/Dennis_Ritchie
# https://horizontes.sbc.org.br/index.php/2021/12/dennis-m-ritchie-humildade-e-genialidade/
# https://pt.wikipedia.org/wiki/Margaret_Hamilton_(cientista_da_computa%C3%A7%C3%A3o)
# https://horizontes.sbc.org.br/index.php/2021/05/margaret-hamilton-mae-cientista-na-lideranca-do-apollo-11/