
#Operador logico

o operador OR espera que pelo menos uma das condiçoes seja verdadeira

o operador AND espera que as duas das condiçoes sejam verdadeiras

o operador NOT inverte o valor/resultado

In [ ]:
# AND
var1=4
var2=3
var3=6
soma=var1+var3 #10   10>7 10>9
soma2=var1+var2#7    7<10 7<9
soma3=var2+var3#9    9>7 9<10
print(soma>soma2 and soma>soma3) #ambas afirmaçoes sao verdadeiras
print(soma<soma2 and soma>soma3) #ambas afirmaçoes nao sao verdadeiras ,a primeira condiçao é falsa

In [ ]:
#OR

print(soma>soma2 or soma>soma3)
 #ambas afirmaçoes sao verdadeiras,o or retorna  TRUE que pelo menos 1 seja verdadeira
print(soma<soma2 or soma>soma3) 
#ambas afirmaçoes nao sao verdadeiras,mas o or retorna true com uma condiçao verdadeira

In [ ]:
#atividade
#Faça um programa que receba duas notas digitadas pelo usuário.
# Se a nota for maior ou igual a seis, escreva aprovado, senão escreva reprovado.
QG_1=int(input("Informe a primeira atividade avaliativa do aluno/a :"))
QG_2=int(input("Informe a segunda atividade avaliativa do aluno/a :"))
if((QG_1>10 or QG_1<0) or (QG_2>10 or QG_2<0)):
  print("valor inadequado")
else:
  media= (QG_1+QG_2)/2
  if(media>=6):
    print("aluno aprovado ")
  else:
    print("aluno reprovador")

#Condicional

## A linguagem de programação Python não possui 'case' ou 'swich' como outras linguagem 
##pode ser utilizar if-elfi-else ou um dicionario para ter um resultado semelhante.

######TENHA CUIDADO COM A INDENTAÇAO

In [ ]:
#if e elif
cinco=5
if cinco<10:
  print('o valor é inferior a 10 ')
elif cinco>20:
  print('o valor é superior a 20 ');
  #normalmente temos o
  #if condiçao :
  ####um tab ou 4 espaços entao  linha/ou bloco q acontece se cumprir a condiçao
  ####a tecla TAB fica mais a esquerda do teclado proxima do " ' e do Q (normalmente)

In [ ]:
temperatura=25
if temperatura>35:
    print("é um dia escandalte")
elif temperatura>=30:
  print("é um dia comum")
elif temperatura>20:
  print("é um dia ameno")
elif temperatura>10:
  print("é um dia congelante")
else:
  print("é um dia severo")
##aqui temos o fim de um bloco
print('done')

In [ ]:
#vamos para outro exemplo que vamos ver como a indentaçao é importante
var1=4
var3=6
##precisa executar alguns celulas acima pra poder ter o valor ve var1 e var3
if var3>var1:                                                                   #linha 1
  if var3>0:                                                                    #linha 2 aqui temos um tab em relaçao ao 1 if
    print("a variavel var3 é positiva e ela é maior do que a variavel var1")    #liha  3 aqui temos 2 tabs em relaçao ao 1 if
  else:                                                                         #linha 4 aqui temos 2 tabs, esta alinhado com relaçao ao segundo if
    print("a variavel var3 nao é positiva e nao é maior do que a variavel var1")#linha 5 aqui temos 2 tabs
else:                                                                           #linha 6
  print("a variavel var 3 é menor que a variavel var1")                         #linha 7 aqui temos um tab e esta alinhado ao primeiro if

In [ ]:
import math
import os
import random
import re
import sys

if __name__ == '__main__':
    n = int(input().strip())
if(n>1or n<=100):
    if(n%2==0):

        if(n>20):
            print("Not Weird")
        elif(n<=2 or n<=5):
            print("Not Weird")
        else:
            print("Weird")
    else:
        print("Weird")

24
Not Weird

In [ ]:
#insira uma frase e assim podemos avaliar como voce esta agindo
if __name__ == '__main__':
    action= str(input("informe a sua açao\n ex :comendo,dormindo,correndo,falando\n ex2 :viajando,caminhando,lendo,rindo,escutando musica\n"))
action.lower()
if (action=="viajando"or  ("dormindo" in action)):
  print("descansando~")
elif(("caminhando" in action)or ("correndo" in action)):
    print("mexendo o corpo")

elif(("lendo" in action)or action=="rindo"or ("escutando" in action)):
    print("voce esta sendo feliz")
else:
  print("voce esta "+action+",\nvivendo a vida como pode")

informe a sua açao
 ex :comendo,dormindo,correndo,falando
 ex2 :viajando,caminhando,lendo,rindo,escutando musica
escutando
voce esta sendo feliz

In [ ]:
#CONVENSAO DE VALORES NO FORMATO DE  PESO
Weight=input('informe o peso : ')
unit=input('utilizar grams (K)g ou pounds (L)bs:')
if unit.upper()=="L":
  form=int(Weight)*0.45
  print("o valor em Kg é"+str(form))
elif unit.upper()=="K":
  form=int(Weight)/0.45
  print("o valor em Lbs/pounds é :"+str(form))
else:
  print("esta errada o tipo da medida escolhida")

In [ ]:
#https://learn.microsoft.com/pt-br/office/troubleshoot/excel/determine-a-leap-year
def é_bissexto(year):
    leap = False
    if(year%4==0):
        leap=True
        if(year%100==0):
            if(year%400==0):
                leap=True
            else:
                leap=False
    return leap

year = int(input())
print(is_leap(year))
#esse o ano é bissexto

#Repetições em Python

----
##For loops give you more control than
##while loops. You can loop through anything
##that is iterable. e.g. a range, a list, a dictionary
##or tuple.

In [ ]:
i=1
while i<=5:
  print(i)
  i=i+1
print('crescente')

In [ ]:
#repeated
n=5
while n>0:
  print(n)
  n=n-1
print('decrescente')

In [1]:
numerofinal=int(input("Digite o ultimo numero a imprimir: "))
x=1
while x<= numerofinal:
  print(x)
  x=x+1

1
2
3
4
5

In [ ]:
i=1
while i<=5:
  print(i*'*')
  i+=1

In [ ]:

for letter in 'Python':     # First Example
   if letter == 'h':
    break
   print ('Current Letter :', letter)

   #devemos estudar mais depois como utilizar o break ele pode ser interessante mais tarde

Current Letter : P
Current Letter : y
Current Letter : t

##acumuladores

In [ ]:
#spma de 10 numeros
n=1
soma=0
while n<= 10:
  x = int(input("Digite o %dº número: " % n))
  soma = soma+x
  n=n+1
  print("Soma: %d"%soma)
media=soma/10
print("media:",media)

Digite o 1º número: 3
Soma: 3
Digite o 2º número: 2
Soma: 5
Digite o 3º número: 1
Soma: 6
Digite o 4º número: 4
Soma: 10
Digite o 5º número: 5
Soma: 15
Digite o 6º número: 4
Soma: 19
Digite o 7º número: 3
Soma: 22
Digite o 8º número: 2
Soma: 24
Digite o 9º número: 1
Soma: 25
Digite o 10º número: 1
Soma: 26
media: 2.6

##interropendo um looping

In [ ]:
soma = 0
n = 1

while True:
    x = int(input("Digite o %dº número (ou 0 para interromper): " % n))
    if x == 0:
        print("Interrupção do loop solicitada.")
        break
    soma += x
    n += 1

print("A soma é:", soma)
print("Quantidade de numeros digitados",n)
media =soma/(n-1)
print("media ariticetica",media)

KeyboardInterrupt: Interrupted by user

###For e lista

In [ ]:
#dado um valor informado
#devolvemos uma string com os numero 1 ate o valor informado
if __name__ == '__main__':
    n = int(input())
    string=''
    for i in range(1,n,1):
        string =str(i)+string
print(string[::-1])

5
1234

In [ ]:
#se n maior que zero e menor ou igual a 20
#iremos fazer esse valor n vezes ele mesmo
#ate chegar (n-1)*(n-1)
if __name__ == '__main__':
    n = int(input())
    if(n>=1 and n<=20):
      for x in range(n):
       if(x<n):
            print(x*x)

5
0
1
4
9
16

In [ ]:
#aqui temos uma lista feita por numeros inteiros
#que o usuario vai visualizar numero apos numero um abaixo do outro ate chegar ao final
#quando chegar ao final ele deve visualizar a palavra 'end'
lista_int=[5,8,3,4]
for i in lista_int:
  print(i)
print("end")

5
8
3
4
end

In [ ]:
lista_int.index(8)
#retorna a posiçao do numero caso ele seja encontrado

1

In [ ]:
lista_int[-1]
lista_int[-2]

NameError: name 'lista_int' is not defined

In [ ]:
#lembrar de ter cuidado quando utilizar o range com lista
for x in range(5):
  print(x)
  #podemos assim saber em que valor estamos /percorrendo
  #de 0 ate 4

0
1
2
3
4

In [ ]:
for x in range(5,10):
  print(x)
  #podemos assim saber em que valor estamos /percorrendo
  #agora iniciamos do 5 e vamos ate o 9

5
6
7
8
9

In [ ]:
for i in range(5,20,2):
#de 5 ate 19 de 2 em 2
 print(i)
 #pula de 2 em 2

In [ ]:
#coordenadas
for x in range(4):  #outer loop 0 ate 3
  for y in range(3):  ##inner loop
    print(f'{x},{y}')
    #(x,y) plano cartesiano
    #https://youtu.be/_uQrJ0TkZlc?t=6610

In [ ]:
#coordenadas
#https://youtu.be/_uQrJ0TkZlc?t=6549
#https://youtu.be/kqtD5dpn9C8?t=2714

In [ ]:
lista_int.pop()#tira o ultimo elemento da lista
print(lista_int)

In [ ]:
scores = [34, 67, 99, 105]
for s in scores:
 if s > 100:
   print("Invalid")
 break
print(s)

34

In [ ]:
#aqui temos uma lista de numeros
#e queremos apenas os numeros pares
x = [1, 2, 3,4,5,6,7,8,9,10]

#solution :
y = [ i for i in x if i % 2 == 0]

print(y)

[2, 4, 6, 8, 10]

In [ ]:
#Aqui temos outra possivel soluçao para termos o retorno do valores pares
for i in x:
  if(i%2==0):
    print(i)

2
4
6
8
10

In [ ]:
x = [1, 2, 3]
y = [variable-1 for variable in x]
print(y)
#variable e nosso elemento em cada index
#logo nossas variaveis sao 1 2 3
#se fosse varible +1 la no vetor y
#print(y) seria 2,3,4

[0, 1, 2]

In [ ]:
for var in range(5):
 print (var)

0
1
2
3
4

In [ ]:
for var in range(2,11):
 print(var)

2
3
4
5
6
7
8
9
10

In [ ]:
for var in range (0,30,5):
   print(var)

0
5
10
15
20
25

In [ ]:
soma=0
for var in range(1,4):
  nota=float(input("informe a sua nota "+str(var)+"?"))
  soma=soma+nota
result = soma/var

print(soma)
print(result)

informe a sua nota 1?6
informe a sua nota 2?8
informe a sua nota 3?5
19.0
6.333333333333333

#Listas

In [ ]:
#uma lista pode ter diversos tipos de dados
#podendo ser float,boolean,string
#podemos criar uma lista de listas

In [ ]:
nome='luis'
nome1='pedro'
nome2='lucas'
nomes=[nome,nome1,nome2]
nomes.append("fernando")
print(nomes)

['luis', 'pedro', 'lucas', 'fernando']

In [ ]:
#index do elemento
nomes.pop(2)
print(nomes)

['luis', 'pedro']

In [ ]:
#o remove so retira o elemento q ele encontrar igual
#ele retira o primeiro elemento q ele encontrar igual
lista=['lucas',2,4,6,9,2]
lista.append("pedrita")
lista.remove(6)
print(lista)

['lucas', 2, 4, 9, 2, 'pedrita']

In [ ]:
lista.index(4)

2

In [ ]:
#count retona a quantidade q aquele elemtno se repete
lista.count(2)

2

In [ ]:
num=[1,2,7,3,4,0,5,6]
num.sort()
#o sort so é possivel com elementos do mesmo tipo
print(num)

[0, 1, 2, 3, 4, 5, 6, 7]
28

In [ ]:
#soma de todos os valores da lista
print(sum(num))

In [ ]:
numeros=[5,2,5,2,2,5]
index=0
while index < len(numeros):
 letter = numeros[index]
 print (letter*'x')
 index = index + 1

xxxxx
xx
xxxxx
xx
xx
xxxxx

In [ ]:
list_string=["vila","pizzaria","padaria","casa","trabalho","praia","estudo","cidade","fazenda"]
print(list_string)

list_string.sort()
print(list_string)

del list_string[:-1]#List Slicing
print(list_string)

['vila', 'pizzaria', 'padaria', 'casa', 'trabalho', 'praia', 'estudo', 'cidade', 'fazenda']
['casa', 'cidade', 'estudo', 'fazenda', 'padaria', 'pizzaria', 'praia', 'trabalho', 'vila']
['vila']

In [ ]:
coisa_list=["casa",1,1.9,'lua']
print(coisa_list)

['casa', 1, 1.9, 'lua']

In [ ]:
coisa_list.insert(3, "mar")#aqui passamos o index e o elemento
print(coisa_list)

In [ ]:
coisa_list.append("vida")
print(coisa_list)

In [ ]:
lista=[5,8,9,11,40,22,21,33,10,1,0,2,90,10,2,190]
lista.reverse()

print(lista)

lista=sorted(lista)
print(lista)

lista.sort(reverse=True)
print(lista)

lista.pop()#Removes and returns last object or obj from list

In [ ]:
set(lista)#os valores aqui nao existem sendo repetidos;/sao unicos

In [ ]:
#escreva um programa que ordene uma lista numérica com três elementos.
lista=[6,2,1]
lista=sorted(lista)
print(lista)

In [ ]:
#como coletar algo desejado dentro de uma lista
lst = [1,2,[3,4],[5,[20,40,['Destino']],90,122,1010],2,4,7]

segunda_lista=lst[3]

print(segunda_lista)
terceira_lista=segunda_lista[1]

print(terceira_lista)
palavra_desejada=terceira_lista[2]

print(palavra_desejada)

[5, [20, 40, ['Destino']], 90, 22, 1010]
[20, 40, ['Destino']]
['Destino']

In [ ]:
#aqui como a lista dentro da lista bolo
bolo = ['farinha de trigo', 'ovo', 'leite', 'manteiga']
bolo.append(['açucar', 'fermento'])##melhor pra desempenho por adicionar sempre ao final da lista
print(bolo[4:])

[['açucar', 'fermento']]

In [ ]:
##aqui como elemento da lista
bolo = ['farinha de trigo', 'ovo', 'leite', 'manteiga']
bolo.extend(['açucar', 'fermento'])
print(bolo)

['farinha de trigo', 'ovo', 'leite', 'manteiga', 'açucar', 'fermento']

In [ ]:
#list comprehension
#uma outa forma de fazer uma operaçao sobre de uma forma mais abstrata

num_normal=[2,4,6,8,1]
num_multi=[i*(i+1) for i  in  num_normal]
print("esta e a minha lista normal"+str(num_normal))

#[2*(2+1) , 4*(4+1) , 6*(6+1) ,8*(8+1) + 1*(1+1)]

print("esta é minha lista"+str(num_multi))

esta e a minha lista normal[2, 4, 6, 8, 1]
esta é minha lista[6, 20, 42, 72, 2]

##lista e string

In [ ]:
# Converte uma string em uma lista.
s = list("So much drama .")
print(s)

# Converte uma lista em uma string.
l = [ "S","o"," ","m","u","c","h"," ", "d","r","a","m","a"," ","."]
print(''.join(l))

['S', 'o', ' ', 'm', 'u', 'c', 'h', ' ', 'd', 'r', 'a', 'm', 'a', ' ', '.']
So much drama .

In [ ]:
#aqui temos uma funçao na qual recebemos um valor qualquer e printamos do valor 1 ate o valor qualquer
if __name__ == '__main__':
    n = int(input())
    lista=[]
    for x in range(n):
        lista.append(str(x))
        cao= ''.join(lista)
    print(cao[1::])

4
123

enumerate

In [ ]:
#a funçao enumerate serve para coloca a lista na ordem crescente
list_string=["vila","pizzaria","padaria","casa","trabalho","praia","estudo","cidade","fazenda"]

for i, word in enumerate(list_string):
    print(i, word)

In [ ]:
complicado = {'k1':[{'nest_key':['dentro da nest key',['o fundo']]}]}
#pegue o fundo

print(complicado["k1"][0])

{'nest_key': ['dentro da nest key', ['o fundo']]}

#FIFO FALTA



#Dictionaries in Python


---

#####desordenado,cam not be sorted
#####Dictionaries objects retrieved by key name
#####sao mutaveis
#####Dictionaries retain order and are a sequence - é uma afirmaçao falsa (incorreta)

In [ ]:
#del dictionarie ;        # delete entire dictionary
#dict.clear();     # remove all entries in dict
#Keys must be immutable. Which means you can use strings, numbers or tuples as dictionary keys but something like ['key'] is not allowed. Following is a simple example

In [ ]:
my_dict={"comida" : "pizza","bebida" : "cha mate"}
my_dict #pode ser usado para print

In [ ]:
print(my_dict["comida"])

In [ ]:
dicionario_vazio = {}
print("Dicionário vazio: ", dicionario_vazio)

paises = {'BRA': 'Brasil', 'EUA': 'Estados Unidos', 'FRA': 'França'}
print("Exemplo de dicionário: ", paises)

print("Tipo de um dicionário: ", type(paises))

print("Exemplo de dicionário: ", paises["BRA"])

Dicionário vazio:  {}
Exemplo de dicionário:  {'BRA': 'Brasil', 'EUA': 'Estados Unidos', 'FRA': 'França'}
Tipo de um dicionário:  <class 'dict'>
Exemplo de dicionário:  Brasil

In [ ]:
#utilizaçao de formatting with string and concatenation
dictionarie={"k1":[1,2,3,4],"k2":["casa","praia","rua"]}

other_list=dictionarie["k1"]

espaço_list=dictionarie["k2"]

print("este é meu dicionario{d}".format(d=dictionarie)+'\n'+"ele possuem 2 itens que sao : este primeiro item{um}".format(um=other_list)

+'\n'+ "este sedundo item do dicionario{dois}".format(dois=espaço_list))

lista_lugar=dictionarie["k2"][0].upper()
print(lista_lugar)

este é meu dicionario{'k1': [1, 2, 3, 4], 'k2': ['casa', 'praia', 'rua']}
ele possuem 2 itens que sao : este primeiro item[1, 2, 3, 4]
este sedundo item do dicionario['casa', 'praia', 'rua']
CASA

In [ ]:
del dictionarie['k2']; # remove entry with key 'k2'

In [ ]:
d={"v1":100,"v2":200}
d

In [ ]:
d["v3"]=300
d

In [ ]:
d["v4"]={"inside key ":200}

In [ ]:
i=0
for i  in d.values():
  print(i)