<a href="https://colab.research.google.com/github/metsumesquita/Python_resumo/blob/main/listas_e_dicionario.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#o que São Listas

---
######uma lista pode de diferentes estruturas ou tipos como float,string,int,boolean e ate mesmo uma lista de listas

In [ ]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
print("The first planet is", planets[0])
print("The second planet is", planets[1])
print("The third planet is", planets[2])

In [ ]:
nome='luis'
nome1='pedro'
nome2='lucas'
nomes=[nome,nome1,nome2]
nomes.append("fernando")
print(nomes)

In [ ]:
#index do elemento
nomes.pop(2)
print(nomes)

In [ ]:
#o remove so retira o elemento q ele encontrar igual
#ele retira o primeiro elemento q ele encontrar igual
lista=['lucas',2,4,6,9,2]
lista.append("pedrita")

#remove um parametro ou elemento que precisa estar dentro da lista
lista.remove(6)
print(lista)

['lucas', 2, 4, 9, 2, 'pedrita']

In [ ]:
lista.index(4)

In [ ]:
#count retona a quantidade q aquele elemtno se repete
lista.count(2)

#sort

####modifica a lista atual, so é possivel com elemento do mesmo tipo ,tem o objetivo de ordena a lista

In [ ]:
num=[1,2,7,3,4,0,5,6]
num.sort()
#o sort so é possivel com elementos do mesmo tipo
print(num)

In [ ]:
#soma de todos os valores da lista
print(sum(num))

In [ ]:
#lista original
list_string=["vila","pizzaria","padaria","casa","trabalho","praia","estudo","cidade","fazenda"]
print(list_string)

#ordenada em ordem alfabetica
list_string.sort()
print(list_string)

#o termo Slicing quer dizer fatiamento, como se voce estivesse dividindo ou fatiando a lista em pedaços menores
del list_string[:-1]
print(list_string)

['vila', 'pizzaria', 'padaria', 'casa', 'trabalho', 'praia', 'estudo', 'cidade', 'fazenda']
['casa', 'cidade', 'estudo', 'fazenda', 'padaria', 'pizzaria', 'praia', 'trabalho', 'vila']
['vila']

In [ ]:
aleatoria_list=["casa",1,1.9,'lua']
print(aleatoria_list)

['casa', 1, 1.9, 'lua']

In [ ]:
#o insert permite que voce determine o index no qual o parametro que esta sendo passando fique guardado
aleatoria_list.insert(3, "mar")
print(aleatoria_list)

['casa', 1, 1.9, 'mar', 'lua']

In [ ]:
#enquanto o append coloca o parametro no proximo index disponivel que depois do index do  ultimo elemento da lista
aleatoria_list.append("vida")
print(aleatoria_list)

['casa', 1, 1.9, 'mar', 'lua', 'vida']

In [ ]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
number_of_planets = len(planets)
print("There are", number_of_planets, "planets in the solar system.")

In [ ]:
lista=[5,8,9,11,40,22,21,33,10,1,0,2,90,10,2,190]
#observe que a lista esta sendo diretamente modificada
lista.reverse()

print(lista)

lista=sorted(lista)
print(lista)

lista.sort(reverse=True)
print(lista)

#remove o ultimo elemento da lista
lista.pop()

[190, 2, 10, 90, 2, 0, 1, 10, 33, 21, 22, 40, 11, 9, 8, 5]
[0, 1, 2, 2, 5, 8, 9, 10, 10, 11, 21, 22, 33, 40, 90, 190]
[190, 90, 40, 33, 22, 21, 11, 10, 10, 9, 8, 5, 2, 2, 1, 0]

0

In [ ]:
#com esta outra funçao,é retornado apenas os valores que sejam unicos ou seja que não foram repetidos
set(lista)

{1, 2, 5, 8, 9, 10, 11, 21, 22, 33, 40, 90, 190}

In [ ]:
#como coletar algo desejado dentro de uma lista
lst = [1,2,[3,4],[5,[20,40,['Destino']],90,122,1010],2,4,7]

segunda_lista=lst[3]

print(segunda_lista)
terceira_lista=segunda_lista[1]

print(terceira_lista)
palavra_desejada=terceira_lista[2]

print(palavra_desejada)

#usando append e extends,enumarate

In [ ]:
#um exemplo da uma lista , onde os elementos listados fazem parte de uma receita de bolo
bolo = ['farinha de trigo', 'ovo', 'leite', 'manteiga']
#melhor pra desempenho por adicionar sempre ao final da lista
bolo.append(['açucar', 'fermento'])

#aqui é um exemplo de uma lista dentro de uma lista
print(bolo)

#aqui é visivel o 4 elemento da lista que é outra lista
print(bolo[4:])

['farinha de trigo', 'ovo', 'leite', 'manteiga', ['açucar', 'fermento']]
[['açucar', 'fermento']]

In [ ]:
bolo = ['farinha de trigo', 'ovo', 'leite', 'manteiga']
#a função extend adiciona no final da lista os elementos
bolo.extend(['açucar', 'fermento'])
print(bolo)

['farinha de trigo', 'ovo', 'leite', 'manteiga', 'açucar', 'fermento']

In [ ]:
#a funçao enumerate serve para coloca a lista na ordem crescente
list_string=["vila","pizzaria","padaria","casa","trabalho","praia","estudo","cidade","fazenda"]

for i, word in enumerate(list_string):
    print(i, word)

In [ ]:
complicado = {'k1':[{'nest_key':['dentro da nest key',['o fundo']]}]}
#pegue o fundo

print(complicado["k1"][0])

In [ ]:
numeros=[5,2,5,2,2,5]
index=0
while index < len(numeros):
 letter = numeros[index]
 print (letter*'x')
 index = index + 1

#utilização do range em uma lista

In [ ]:
#lembrar de ter cuidado quando utilizar o range com lista
for x in range(5):
  print(x)
  #podemos assim saber em que valor estamos /percorrendo
  #de 0 ate 4

In [ ]:
for x in range(5,10):
  print(x)
  #podemos assim saber em que valor estamos /percorrendo
  #agora iniciamos do 5 e vamos ate o 9

In [ ]:
for i in range(5,20,2):
#de 5 ate 19 de 2 em 2
 print(i)
 #pula de 2 em 2

5
7
9
11
13
15
17
19

#utlizando range para ter coordenadas

[coordenadas](https://youtu.be/_uQrJ0TkZlc?t=6549)

[coordenadas](https://youtu.be/kqtD5dpn9C8?t=2714)

In [ ]:
#coordenadas
for x in range(4):  #outer loop 0 ate 3
  for y in range(3):  ##inner loop
    print(f'{x},{y}')
    #(x,y) plano cartesiano
    #https://youtu.be/_uQrJ0TkZlc?t=6610

#unido listas ou concatenando listas

In [ ]:
amalthea_group = ["Metis", "Adrastea", "Amalthea", "Thebe"]
galilean_moons = ["Io", "Europa", "Ganymede", "Callisto"]

regular_satellite_moons = amalthea_group + galilean_moons
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

#listas e index , procurando o item desejado na lista

In [ ]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]

In [ ]:
planet_input=input("informe o nome do planeta em ingles com a primeira letra em maiusculo :")

informe o nome do planeta em ingles com a primeira letra em maiusculo :Earth

In [ ]:
planets_in=planets.index(planet_input)
print("posição na lista",planets_in)

In [ ]:
#os planetas anteriores ao planeta que procuramos
print(planets[0:planets_in])

['Mercury', 'Venus']

In [ ]:
#os posteriores ao que procuramos
print(planets[planets_in + 1:])

In [ ]:
#considerado o que queremos e os posteriores
print(planets[planets_in:-1])

procurando apenas os numeros pares em uma lista utilizando repetição,condicional e in

In [ ]:
x = [1, 2, 3,4,5,6,7,8,9,10]

#solution :
y = [ i for i in x if i % 2 == 0]

print(y)

In [ ]:
#Aqui temos outra possivel soluçao para termos o retorno do valores pares
for i in x:
  if(i%2==0):
    print(i)

#lista de string

In [ ]:
#condicional,lista,percorrer
fruits=["banana","uva","maça","morango","pera"]
for fruit in fruits:
  if fruit == "melão":
    print("estamos com melão")
    break
  else:
    print("estamos com",fruit)

In [ ]:
caldas=["caramelo","chocolate","menta","morango"]
for calda in caldas:
  print("o sabor da calda é "+calda )

#lista de numeros inteiros

In [ ]:
lista_int=[5,8,3,4]
for i in lista_int:
  print(i)
print("end")

In [ ]:
if __name__ == '__main__':
    n = int(input())
    lista = []

    if 1 <= n <= 20:
        for x in range(n):
            lista.append(x)

        for i in lista:
            print(i * i)
    else:
        print("Please enter a number between 1 and 20.")

#[list comprehension](https://www.w3schools.com/Python/python_lists_comprehension.asp)

In [ ]:
#list comprehension
#uma outa forma de fazer uma operaçao sobre de uma forma mais abstrata

num_normal=[2,4,6,8,1]
num_multi=[i*(i+1) for i  in  num_normal]
print("esta e a minha lista normal"+str(num_normal))

#[2*(2+1) , 4*(4+1) , 6*(6+1) ,8*(8+1) + 1*(1+1)]

print("esta é minha lista"+str(num_multi))

#listas e strings

In [ ]:
def conta_vogais(texto):
    # Conjunto de vogais (minúsculas e maiúsculas não importam, pois usaremos lower())
    vogais = {"a", "e", "i", "o", "u"}

    # Transformar em minúsculas
    texto = texto.lower()

    contador = 0
    for elemento in texto:
        if elemento in vogais:
            contador += 1

    return contador


# Solicitamos ao usuário que insira uma string
texto = input("Digite uma frase: ")

# Chamamos a função conta_vogais e exibimos o resultado
resultado = conta_vogais(texto)
print(f"O número de vogais na string '{texto}' é: {resultado}")

In [ ]:
#aqui temos uma funçao na qual recebemos um valor qualquer e printamos do valor 1 ate o valor qualquer
if __name__ == '__main__':
    n = int(input())
    lista=[]
    for x in range(n):
        lista.append(str(x))
        cao= ''.join(lista)
    print(cao[1::])

In [ ]:
# Converte uma string em uma lista.
s = list("So much drama .")
print(s)

# Converte uma lista em uma string.
l = [ "S","o"," ","m","u","c","h"," ", "d","r","a","m","a"," ","."]
print(''.join(l))

In [ ]:
##de string para lista utilizaçao de funçao
def Convert(string):
    li = list(string.split(" "))
    return li


# Driver code
str1 = "Guerra nas estrelas"
print(Convert(str1))

#armazenando inputs do usuario em uma lista,usando Done para finalizar ou sair

In [ ]:
# Create the variable for user input
user_input = ''
# Create the list to store the values
inputs = []

# The while loop
while user_input.lower() != 'done':
    # Check if there's a value in user_input
    if user_input:
        # Store the value in the list
        inputs.append(user_input)
    # Prompt for a new value
    user_input = input('Enter a new value, or done when done')

#função ZIP

---

A função zip em Python é uma função integrada (built-in) que permite combinar duas ou mais sequências (listas, tuplas, etc.) em um objeto zip. A partir desse objeto zip, é possível criar iteráveis de tuplas contendo elementos correspondentes de cada sequência original.

In [ ]:
L1 = [4, 3, 7, 9]
L2 = [5, 6, 2, 1]

In [ ]:
s=zip(L1, L2)

In [ ]:
type(s)

zip

In [ ]:
print(s)

<zip object at 0x7b24d6e28180>

In [ ]:
nomes = ['Lucas','felipe']
idades = [23,30]

In [ ]:
combinado = zip(nomes, idades)

In [ ]:
for nome, idade in combinado:
    print(nome, idade)

Lucas 23
felipe 30

#zip e enumarate

In [ ]:
nomes = ['Carlisle','Alice','Esme', 'Bella','Jasper','Edward','Emmett','Rosalie']
idades = [23,17,26,19,18,17,20,18]

In [ ]:
for i, (nome, idade) in enumerate(zip(nomes, idades)):
    print(f'Índice {i}: {nome} tinha {idade} anos.Quando foi transformado em vampiro')

Índice 0: Carlisle tinha 23 anos.quando foi transformado em vampiro
Índice 1: Alice tinha 17 anos.quando foi transformado em vampiro
Índice 2: Esme tinha 26 anos.quando foi transformado em vampiro
Índice 3: Bella tinha 19 anos.quando foi transformado em vampiro
Índice 4: Jasper tinha 18 anos.quando foi transformado em vampiro
Índice 5: Edward tinha 17 anos.quando foi transformado em vampiro
Índice 6: Emmett tinha 20 anos.quando foi transformado em vampiro
Índice 7: Rosalie tinha 18 anos.quando foi transformado em vampiro

#dicionario

In [ ]:
my_dict={"comida" : "pizza","bebida" : "cha mate"}
my_dict #pode ser usado para print

In [ ]:
print(my_dict["comida"])

In [ ]:
dicionario_vazio = {}
print("Dicionário vazio: ", dicionario_vazio)

paises = {'BRA': 'Brasil', 'EUA': 'Estados Unidos', 'FRA': 'França'}
print("Exemplo de dicionário: ", paises)

print("Tipo de um dicionário: ", type(paises))

print("Exemplo de dicionário: ", paises["BRA"])

In [ ]:
statuses = { "Alice": "online", "Bob": "offline", "Eve": "online", }
def online_count(statuses):
    count = 0
    for status in statuses.values():
        if status == "online":
            count += 1
    return count
print(f'a quantidade de usuarios online é igual a :{online_count(statuses)}')

a quantidade de usuarios online é igual a2

In [ ]:
#utilizaçao de formatting with string and concatenation
dictionarie={"k1":[1,2,3,4],"k2":["casa","praia","rua"]}

other_list=dictionarie["k1"]

espaço_list=dictionarie["k2"]

print("este é meu dicionario{d}".format(d=dictionarie)+'\n'+"ele possuem 2 itens que sao : este primeiro item{um}".format(um=other_list)

+'\n'+ "este sedundo item do dicionario{dois}".format(dois=espaço_list))

lista_lugar=dictionarie["k2"][0].upper()
print(lista_lugar)

este é meu dicionario{'k1': [1, 2, 3, 4], 'k2': ['casa', 'praia', 'rua']}
ele possuem 2 itens que sao : este primeiro item[1, 2, 3, 4]
este sedundo item do dicionario['casa', 'praia', 'rua']
CASA

In [ ]:
del dictionarie['k2']; # remove entry with key 'k2'

In [ ]:
d={"v1":100,"v2":200}
d

In [ ]:
d["v3"]=300
d

In [ ]:
d["v4"]={"inside key ":200}

In [ ]:
i=0
for i  in d.values():
  print(i)

In [ ]:
planets={"nome" : ['terra','jupiter','urano','netuno','plutao','marte','saturno'],
         "luas" : [1, 95,27,14,5,2,124],
         "aneis":[False,True,True,True,False,False,True]
         }

In [ ]:
print(planets.get('nome'))

['terra', 'jupiter', 'urano', 'netuno', 'plutao', 'marte', 'saturno']

In [ ]:
print(planets.get('luas'))

[1, 95, 27, 14, 5, 2, 124]

##atualizando o nome da coluna* dos dicionarios

In [ ]:
planets.update({'nome': 'nome-dos-planetas'})

In [ ]:
planets['luas'] = 'luas_qtd'

#programaçao dinamica com python

In [ ]:
rainfall = {
    'october': 3.5,
    'november': 4.2,
    'december': 2.1
}

In [ ]:
for key in rainfall.keys():
    print(f'{key}: {rainfall[key]}cm')

##Determinar se uma chave existe em um dicionário

In [ ]:
if 'december' in rainfall:
    rainfall['december'] = rainfall['december'] + 1
else:
    rainfall['december'] = 1

# Because december exists, the value will be 3.1

###Recuperar todos os valores

In [ ]:
#Recuperar todos os valores
total_rainfall = 0
for value in rainfall.values():
    total_rainfall = total_rainfall + value

print(f'There was {total_rainfall}cm in the last quarter.')

#dicionario + zip

In [ ]:
animais = ['lontra', 'joaninha', 'gato', 'atum', 'borboleta', 'pirarucu', 'capivara']
tipo_animal = ['mamífero', 'inseto', 'mamífero', 'peixe', 'inseto', 'peixe', 'mamífero']

dicionario = dict(zip(animais, tipo_animal))
print(dicionario)

#mudando tipos em um dataset

In [ ]:
#utilizando dicionario
# Definindo os tipos de dados desejados
dtype_mapping = {

    'Territorio': str, 'Categoria': str, 'Elenco': str,
    'Diretor': str, 'Inserção_mes': str, 'Inserção_ano': int
}

# Aplicando os tipos ao DataFrame
df = df.astype(dtype_mapping)

In [ ]:
aluno={
    'nome':'Fernando',
    'idade':'12',
    'altura':'1,60',
    'peso':'45kg',
    'sexo':'masculino',
    'serie':'6',
    'turma':'A'


}

In [ ]:
alunos={

    "nome" : ['Luiza','Camila','Desdemona','Carmem'],
    "idade" : ['12','13','11','8'],
    "series"=['6','7','5','3'],
    "sexos"=['feminino','feminino','feminino','feminino']
}

#referencias

In [ ]:
https://hub.asimov.academy/tutorial/a-funcao-zip-em-python-um-guia-completo/
https://www.bosontreinamentos.com.br/programacao-em-python/como-usar-a-funcao-zip-em-python/
https://www.geeksforgeeks.org/queue-in-python/
https://www.otaviomiranda.com.br/2020/filas-em-python-com-deque-queue/
https://learn.microsoft.com/pt-br/training/modules/python-dictionaries/1-introduction
https://www.geeksforgeeks.org/python-implementing-dynamic-programming-using-dictionary/