<a href="https://colab.research.google.com/github/metsumesquita/Python_resumo/blob/main/Opera%C3%A7%C3%B5es_Matem%C3%A1ticas%2COpera%C3%A7%C3%B5es_L%C3%B3gicas%2COpera%C3%A7%C3%B5es_Relacionais_e_Condicionais.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Operaçoes matematicas

In [ ]:
#regras da matematicas continuam aqui
#as operaçoes contento o parentese formam a serem feitas primeior
#alem disso a ordem de prioridade que temos na matematicam permanence
#logo  a exponenciaçao vem antes da multiplicaçao e da divissao
#que vem antes da soma e da subtraçao
#Outra regra Importante é que nao é permitido operaçoes entre strings

In [ ]:
#Conversão de valores  numericos
int(6.0)

6

In [ ]:
float(9)

In [ ]:
#operaçoes matematicas a baixo
soma=8+6
print(soma)

In [ ]:
float_soma=3.1 + 6.4
print("soma entre valores to tipo float"+float_soma)

In [ ]:
subtraçao=8-2
print(subtraçao)

In [ ]:
#multiplicar
b=2*3
print(b)

In [ ]:
#divisao
c=10/2
print(c)

In [ ]:
#exponenciaçao
a=2**5

print(a)

32

In [ ]:
potencia=pow(3,2)# 3^2 = 9
print(potencia)

32

In [ ]:
#aqui temos um exemplo de divisao inteira(QUOCIENTE)
#o qual a variavel e retorna o valor do quociente que representa o número de vezes que o dividendo contém o divisor
e=50//3
print(e)

16
<class 'int'>

In [ ]:
#aqui temos a variavel remainder fazendo a operaçao modulo que nos retorna o valor do Resto
remainder=10%2
print(remainder)
#o resto em ingles é o remainder
#pode ser bem util em alguns situaçoes

In [ ]:
#absolute difference python ou valor absoluto em python
abs(80-100)

In [ ]:
#sqrt é utilizado para retornamos a raiz de um valor que foi passado como parametro

import math
#raiz
print(math.sqrt(16))

In [ ]:
#arrendodamento  pra baixo ou pra cima

arrendodado_cima=round(3.7)
arredondado_baixo=round(3.2)
print(arrendodado_cima)
print(arredondado_baixo)

In [ ]:
#maximo e minimo entre valores

maior_entre=max(4,6)#o maior entre os valores 4< 6 =6
menor_entre=min(2,7)#o menor entre os dois valores 2<7 =2
print(maior_entre)
print(menor_entre)

In [ ]:
#vamos ver um pouco mais sobre operaçoes abaixo
#aqui conseguimos ver uma acumulaçao do valor e depois outras operaçoes

x=3
#armazenamento

y= x + 3
print("o valor de y é:"+str(y))#3+3=6

# acumulamos o valor
y+= 3
print("o valor de y + 3 é igual a :"+str(y))#6+3=9

#retiramos um valor do valor anterior

y-= 4
print("o valor de y - 4 é igual a :"+str(y))#9-4=5

#fazemos uma nova operaçao(multiplicaçao) em cima do antigo valor

y*=2
print("o valor de y vezes 2 é igual a :"+str(y))#5*2=10

#temos aqui entao um exemplo de manipulaçao das variaveis x,y
#alem da exibição das mudanças a cada operaçao ,com a transformaçao do valor inteiro em um string

In [ ]:
#este exemplo aqui é para ver se o primeiro valor é igual ao segundo valor passado
0 == 0.0

In [ ]:
0=0.0
#aqui nos encontramos um erro pelo uso inadequado da atribuiçao que é esse simbolo  =

In [ ]:
#nesse problemas queremos saber quantos litros de agua vao ser carregadados por cada pessoa se
#o caminhao com agua tem 320.5 litros de agua se temos 60 pessoas
agua=320.5
pessoas=60
print("cada pessoa vai carregar a quantidade de "+str(agua/pessoas)+"de litros de agua")
#o float 320.5 esta sendo atribuido a variavel agua,isto é a variavel agua esta armazenando agora este valor que lhe foi passado
#o mesmo acontece com a variavel pessoas que esta armazenando o valor 60 que é um dado do  tipo int

OPÇÃO normal

In [ ]:
import math

math.sqrt(2)

In [ ]:
math.sqrt(2)**2

In [ ]:
math.sqrt(2)**2 == 2

In [ ]:
##compare com o que utiliza a biblioteca

In [ ]:
math.sqrt(2)**2 - 2 < 1E-4

OPÇÃO UTILIZANDO A BIBLIOTECA SymPy

In [1]:
import sympy

In [3]:
sympy.sqrt(2)

sqrt(2)

In [4]:
sympy.sqrt(2)**2

2

In [5]:
sympy.sqrt(2)**2 == 2

True

In [2]:
sympy.sqrt(8)

2*sqrt(2)

In [6]:
sympy.sympify('1/7')

1/7

In [7]:
sympy.Rational(1, 7)

1/7

In [8]:
sympy.Rational(1, 2) + sympy.S('1/3')

5/6

In [ ]:
sympy.N(sympy.pi)

In [ ]:
sympy.oo

##Resolvendo uma equação do 2 grau

In [ ]:
#Escreva um programa que resolva uma equação de segundo grau.
#nao sabemos o valor de x nem de delta
#aqui temos o input para receber os dados
#ou seja uma entrada de dados
#depois temos o int para transforma esses dados do tipo str  em int
A=int(input("Digite um numero inteiro  Para A: "))
B=int(input("Digite um numero inteiro  Para B: "))
C=int(input("Digite um numero inteiro  Para C: "))
delta=(B*B) - (4*A*C)
print(delta)
x1=-(B-delta)/(2*A)
x2=-(B+delta)/(2*A)
print("o valor de   x1 é "+str(x1)+" o valor de x2 é "+str(x2))

#Utilizaçao de def para fazer operaçoes matematicas

In [ ]:
#FUNÇOES MATEMATICAS
#Esta função somar dois números
def soma(x, y):
 return x + y
#Esta função subtrai dois números
def subi(x, y):
 return x - y
#Esta função multiplica dois números
def multipl(x, y):
 return x * y
#Esta função divide dois números
def divid(x, y):
 return x / y
#
def quociente(x,y):
  return x//y
#
def modulo(x,y):
 return x%y
print("Esclha a Operação.")
print("1.sum")
print("2.sub")
print("3.multiple")
print("4.divide")
print("5.divisao inteira(QUOCIENTE)")
print("6.Resto == Modulo")

choice = input("Escolha(1/2/3/4):")
num1 = int(input("Informe o primeiro numero: "))
num2 = int(input("Informe o segundo numero: "))
if choice == '1':
 print(num1,"+",num2,"=", soma(num1,num2))
elif choice == '2':
 print(num1,"-",num2,"=", subi(num1,num2))
elif choice == '3':
 print(num1,"*",num2,"=",multipl(num1,num2))
elif choice == '4':
 print(num1,"/",num2,"=", divid(num1,num2))
elif choice == '5':
 print(num1,"//",num2,"=", quociente(num1,num2))
elif choice == '5':
 print(num1,"//",num2,"%", modulo(num1,num2))
else:
 print("Entrada Invalida")

#Utilizaçao do Format com valores numericos

In [ ]:
#alem disso podemos print dessa outra forma as seguintes operaçoes

value_1=int(input("Digite um numero inteiro : "))
value_2=int(input("Digite outro numero inteiro: "))

somar= value_1 + value_2

subtrair = value_1 - value_2

dividir=value_1/value_2
multiplicar=value_1*value_2

resto=value_1%value_2
print('Soma: {}  Subtraçao: {}  divisao: {}  multiplicaçao: {};'.format(somar,subtrair,dividir,multiplicar))
#aqui utilizamos o format que sera posteiormente visto mais  aprofundamente

In [ ]:
result=100/777
print("o resultado é {r:1.4f}".format(r=result))
#esse esse .4 quer dizer que sao 4 casas decimais

#Operador logico e relacional


---


#####Operador relacional
######== se iquais
######!= se diferentes
######<  menor,> maior ,<=  menor iqual,>= maior iqual
---
Operador logico

o operador OR espera que pelo menos uma das condiçoes seja verdadeira

o operador AND espera que as duas das condiçoes sejam verdadeiras

o operador NOT inverte o valor/resultado

##OPERAÇÃO AND

In [ ]:
A=5
B=15
C=20


print("A<B and B<C :",A<B and B<C)

print("\nA>B and B<C :",A>B and B<C)

print("\nA<B and B>C :",A<B and B>C)


print("\nA>B and B>C :",A>B and B>C)

A<B and B<C : True

A>B and B<C : False

A<B and B>C : False

A>B and B>C : False

In [ ]:
# AND
var1=4
var2=3
var3=6
soma=var1+var3 #10   10>7 10>9
soma2=var1+var2#7    7<10 7<9
soma3=var2+var3#9    9>7 9<10
print(soma>soma2 and soma>soma3) #ambas afirmaçoes sao verdadeiras
print(soma<soma2 and soma>soma3) #ambas afirmaçoes nao sao verdadeiras ,a primeira condiçao é falsa

##OPERAÇÃO OR

In [ ]:
#OR
print(soma>soma2 or soma>soma3) #ambas afirmaçoes sao verdadeiras,o or retorna  TRUE que pelo menos 1 seja verdadeira
print(soma<soma2 or soma>soma3) #ambas afirmaçoes nao sao verdadeiras,mas o or retorna true com uma condiçao verdadeira

In [ ]:
A=5
B=15
C=20


print("A<B or B<C :",A<B or B<C)

print("\nA>B or B<C :",A>B or B<C)

print("\nA<B or B>C :",A<B or B>C)


print("\nA>B or B>C :",A>B or B>C)

A<B or B<C : True

A>B or B<C : True

A<B or B>C : True

A>B or B>C : False

#Condicional

---

```
# if condiçao :
   print(algo)
```
nesse codigo acima
  um tab ou 4 espaços entao  linha/ou bloco que acontece se cumprir a condiçao
  a tecla TAB fica mais a esquerda do teclado proxima do " ' e do Q

In [ ]:
#if e elif
five=5
if five<10:
  print('smaller')
elif five>20:
  print('bigger');

In [ ]:
temperatura=25
if temperatura>35:
    print("é um dia escandalte")
elif temperatura>=30:
  print("é um dia comum")
elif temperatura>20:
  print("é um dia ameno")
elif temperatura>10:
  print("é um dia congelante")
else:
  print("é um dia severo")
##aqui temos o fim de um bloco
print('done')

In [ ]:
#vamos para outro exemplo que vamos ver como a indentaçao é importante
#var1=4  var3=6
##precisa executar alguns celulas acima pra poder ter o valor ve var1 e var3
if var3>var1:                                                                   #linha 1
  if var3>0:                                                                    #linha 2 aqui temos um tab em relaçao ao 1 if
    print("a variavel var3 é positiva e ela é maior do que a variavel var1")    #liha  3 aqui temos 2 tabs em relaçao ao 1 if
  else:                                                                         #linha 4 aqui temos 2 tabs, esta alinhado com relaçao ao segundo if
    print("a variavel var3 nao é positiva e nao é maior do que a variavel var1")#linha 5 aqui temos 2 tabs
else:                                                                           #linha 6
  print("a variavel var 3 é menor que a variavel var1")                         #linha 7 aqui temos um tab e esta alinhado ao primeiro if

##Problema de transformaço de medidas de peso

In [ ]:
Weight=input('informe o peso : ')
unit=input('utilizar grams (K)g ou pounds (L)bs:')
if unit.upper()=="L":
  form=int(Weight)*0.45
  print("o valor em Kg é"+str(form))
elif unit.upper()=="K":
  form=int(Weight)/0.45
  print("o valor em Lbs/pounds é :"+str(form))
else:
  print("esta errada o tipo da medida escolhida")

##resolvendo se o aluno foi ou nao aprovado por media (utiliza condicional)

In [ ]:
#Faça um programa que receba duas notas digitadas pelo usuário.
# Se a nota for maior ou igual a seis, escreva aprovado, senão escreva reprovado.
QG_1=int(input("Informe a primeira atividade avaliativa do aluno/a"))
QG_2=int(input("Informe a segunda atividade avaliativa do aluno/a"))
if((QG_1>10 or QG_1<0) or (QG_2>10 or QG_2<0)):
  print("valor inadequado")
else:
  media= (QG_1+QG_2)/2
  if(media>=6):
    print("aluno aprovado ")
  else:
    print("aluno reprovador")