<a href="https://colab.research.google.com/github/metsumesquita/Python_resumo/blob/main/Python_parte_3_Repeti%C3%A7oes_e_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Estruturas de repetiçao

In [ ]:
#sao mais amplas no sentido de passar por estruturas diferentes
i=1
while i<=5:
  print(i)
  i=i+1  
print('crescente')

In [ ]:
#repeated 
n=5
while n>0:
  print(n)
  n=n-1  
print('decrescente')

In [ ]:
i=1
while i<=5:
  print(i*'*')
  i+=1

In [ ]:

for letter in 'Python':     # First Example
   if letter == 'h':
    break
   print ('Current Letter :', letter)

#For e Listas

In [ ]:
#Listas e for
lista_int=[5,8,3,4]     #apenas int
for i in lista_int:
  print(i)
  i=i+1
print("end")

In [ ]:
lista_int[-1]
lista_int[-2]

In [ ]:
lista_int.pop()#tira o ultimo elemento da lista
print(lista_int)

In [ ]:
lista_int.index(8)
#retorna a posiçao do numero caso ele seja encontrado

In [ ]:
for x in range(5):
  print(x)
  #podemos assim saber em que valor estamos /percorrendo
  #de 0 ate 4

In [ ]:
for x in range(5,10):
  print(x)
  #podemos assim saber em que valor estamos /percorrendo
  #agora iniciamos do 5 e vamos ate o 9

In [ ]:
for i in range(5,20,2):
#de 5 ate 19 de 2 em 2
 print(i)
 #pula de 2 eme 2

In [ ]:
#coordenadas  
for x in range(4):  #outer loop 0 ate 3
  for y in range(3):  ##inner loop
    print(f'{x},{y}')
    #(x,y) plano cartesiano

#Lista

In [ ]:
list_string=["vila","pizzaria","padaria","casa","trabalho","praia","estudo","cidade","fazenda"]
print(list_string)

list_string.sort()
print(list_string)

del list_string[4:]#List Slicing
print(list_string)

In [ ]:
coisa_list=["casa",1,1.9,'lua']
print(coisa_list)

['casa', 1, 1.9, 'lua']

In [ ]:
coisa_list.insert(3, "mar")#aqui passamos o index e o elemento
print(coisa_list)

['casa', 1, 1.9, 'mar', 'lua']

In [ ]:
coisa_list.append("vida")
print(coisa_list)

In [ ]:
#lista original

lista=[5,8,9,11,40,22,21,33,10,1,0,2,90,10,2,190]
print("lista original \t: "+str(lista))

#lista reversa

lista.reverse()
print("lista reversa \t: "+str(lista))

#
lista=sorted(lista)
print("lista na ordem crescente   : " + str(lista))

lista.sort(reverse=True)
print("lista na ordem decrescente : "+str(lista))

lista.pop()

lista original 	: [5, 8, 9, 11, 40, 22, 21, 33, 10, 1, 0, 2, 90, 10, 2, 190]
lista reversa 	: [190, 2, 10, 90, 2, 0, 1, 10, 33, 21, 22, 40, 11, 9, 8, 5]
lista na ordem crescente   : [0, 1, 2, 2, 5, 8, 9, 10, 10, 11, 21, 22, 33, 40, 90, 190]
lista na ordem decrescente : [190, 90, 40, 33, 22, 21, 11, 10, 10, 9, 8, 5, 2, 2, 1, 0]

0

In [ ]:
#os valores aqui nao existem sendo repetidos;/sao unicos
set(lista)

In [ ]:
#escreva um programa que ordene uma lista numérica com três elementos.   
lista=[6,2,1]
lista=sorted(lista)
print(lista)

In [ ]:
lis=[5,2,5,2,2,5]
index=0
while index < len(lis):
 letter = lis[index]
 print (letter*'x')
 index = index + 1

xxxxx
xx
xxxxx
xx
xx
xxxxx

In [ ]:
#aqui como a lista dentro da lista bolo
bolo = ['farinha de trigo', 'ovo', 'leite', 'manteiga']
bolo.append(['açucar', 'fermento'])##melhor pra desempenho por adicionar sempre ao final da lista
print(bolo)

In [ ]:
###aqui como elemento da lista
bolo = ['farinha de trigo', 'ovo', 'leite', 'manteiga']
bolo.extend(['açucar', 'fermento'])
print(bolo)

##conversao de list pra string

In [ ]:
# Converte uma string em uma lista.
s = list("So much drama .")
print(s)

In [ ]:
# Converte uma lista em uma string.
l = [ "S","o"," ","m","u","c","h"," ", "d","r","a","m","a"," ","."]
print(''.join(l))

#Referencia

In [ ]:
 # https://youtu.be/_uQrJ0TkZlc?t=6610
 # https://youtu.be/kqtD5dpn9C8?t=2714