<a href="https://colab.research.google.com/github/metsumesquita/Python_resumo/blob/main/variaveis%2Cstring%2Centradas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importaçoes

In [ ]:
from scipy import signal
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
from collections import namedtuple

#Variaveis e atribuiçao
####São utilizadas para armazenar valores em memória, desta maneira podemos guardar uma informação ou recuperar ela ao ler esse dado que foi gravado.

#####Temos alguns tipos que são padrões como :Tuple, String ,List Dictionary e Numbers.

##### Ao nomear as variáveis devemos seguir alguns regras como:
* Obrigatoriamente é sempre iniciada por letras minúsculas.

* Não é permitido utilizar números no inicio da variável.
* Não é permitido utilizar o espaço no meio da variável.

* Não é permitido utilizar as palavras reservadas da linguagem para nomear variáveis.

In [ ]:
##No Python, as cadeias de caracteres são imutáveis. Ou seja, eles não podem mudar.
#Essa propriedade do tipo cadeia de caracteres pode ser bastante surpreendente, pois o Python não acusa erro quando você altera uma cadeia de caracteres.
#Aspas simples, duplas e triplas.

In [ ]:
print("Hello World")

Hello World

In [ ]:
print('The "near side" is the part of the Moon that faces the Earth.')

In [ ]:
speak = "Ela falou : \"Bom dia\""
print(speak)

she said : "Hi"

In [ ]:
type(speak)

str

In [ ]:
#initialize of a variable
persona_name = "lilly"

In [ ]:
#a funçao replace é utilizada para alterar
#contudo nao modifica a frase original
frase="I like the night. Without the dark, we’d never see the stars"
print("phrase original:\t"+frase)
print("new and alter phrase:\t"+frase.replace("stars","the constellations"))
# the value attributed to the variable doesn't change

phrase original:	I like the night. Without the dark, we’d never see the stars
new and alter phrase:	I like the night. Without the dark, we’d never see the the constellations

In [ ]:
#alterando
phrase="Gato de gravata"
print(phrase)
#frase original
print(phrase.replace("Gato","Urso"))
#frase que sofreu  substituiçao

In [ ]:
##aqui temos varios exemplos utilizando as funções starwith and endswith
print(frase.startswith("dark"))

False

In [ ]:
print(frase.startswith("I"))

True

In [ ]:
print(frase.endswith("stars"))

True

In [ ]:
print("-60".startswith('-'))

In [13]:
if "30 C".endswith("C"):
  print("This temperature is in Celsius")

This temperature is in Celsius

In [ ]:
print("temperatures and facts about the moon".title())

In [ ]:
phrase_book="My life was an unending, unchanging midnight.\nIt must, by necessity"+"always be midnight for me.\n So how was it possible that the sun was rising now, in the middle of my midnight? "
#phrase_book=book+book_p1
print(phrase_book.title())

My Life Was An Unending, Unchanging Midnight.
It Must, By Necessityalways Be Midnight For Me.
 So How Was It Possible That The Sun Was Rising Now, In The Middle Of My Midnight?

In [ ]:
print(1940,"A casa do penhasco")

1940 A casa do penhasco

In [ ]:
food="banana"
food.find("na")
#return the index which found n

#Leitura de Dados do Teclado/Entrada e Trabalhando com String
######[entrada e saida](https://algoritmosempython.com.br/cursos/programacao-python/entrada-saida/)

In [ ]:
num1=input('git a value for variable 1 : ')
num2=input('git a value for variable 2 : ')
print('result: '+num1+num2)
#transformando o tipo de dados
#tudo recebido pelo input é considerado do tipo str que é um string
soma=int(num1)+int(num2)
print('what we want as a result: '+str(soma) )

In [ ]:
nome=input("Informe o seu nome : ")
idade=int(input("Informe a sua idade : "))
print("Seu nome é : "+nome+"e  sua idade é  : "+ str(idade) )

In [ ]:
#Faça um programa que receba a idade do usuário e diga se ele é maior ou menor de idade.
if(idade>=18):
  print(nome+ "é maior de idade ")
else:
  print(nome+" é menor de idade")

In [ ]:
#a seguir temos exemplos de atribuiçao de diferentes types de dados

In [ ]:
#string
meu_texto = input("Digite um texto : ")

In [ ]:
#imputando uma variavel do tipo int
numero_inteiro = int(input("Digite um numero inteiro qualquer : "))

#imputando uma variavel do tipo float
numero_decimal = float(input("Digite um numero decimal qualquer : "))

In [ ]:
#alfa numerico
'54A12B'.isalnum()

#concatenando strings, utilização de metodos como find , in , upper and lower case, count

In [ ]:
numero = 3.14159
print(f"O valor arredondado é {round(numero, 2)}")

In [ ]:
a='thais'
b='silva'
print("o nome era",a,"o sobrenome era",b)

o nome era thais o sobrenome era silva

In [6]:
fact = "The Moon has no atmosphere."
fact_two =fact + "\nNo sound can be heard on the Moon."
print(fact_two)

The Moon has no atmosphere.
No sound can be heard on the Moon.

In [ ]:
a="Ola todos,nos da light academy"
b="Estamos convidando todos os novatos para o evento de sabado a noite"
c=a + b +"\n" #quebra de linha
print(c+"as 18 horas")
d=a+""+b+"\n" #quebra de linha
print(d)
#com quebra de linha
print(d.strip())
#sem quebra de linha

In [ ]:
c=a+'\n'+b #quebra de linha
print(c)

In [ ]:
#ver as coisas de Index
frase="Os gatos persa sao a raça mais popular entre as outras raças de gato"

print(frase[0])
print(frase[1])#espaço
print(frase[2])
print(frase[3])
print(frase[4])
print(frase[5])
print(frase[6])
print(frase[7])

In [ ]:
print(str(frase.upper()))#maiusculo
print(str(frase.lower()))#minusculo

In [ ]:

frase="Os gatos persa sao a raça mais popular entre as outras raças de gato"

print(frase[0:])
#retorna do inicio ate o final da frase

print(frase.find('g'))
#o find retorna a posiçao que é encontrado simbolo no caso no g
#caso nao seja encontrado retorna -1

print("gatos" in frase)
#aqui especificamos se esse "algo" esta sendo usando na frase

In [ ]:
print("Moon" in "This text will describe facts about the Moon")

In [ ]:
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius, while Mars has -28 Celsius."""
print(temperatures.find("Moon"))

In [11]:
frase_2="os gatos laranjas femeas são extremamente raros, ja os gatos tricores machos são extremamente raros, os gatos siameses possuem uma caracteristica de mudança de pelagem de acordo com a temperatura do ambiente,alem disso os gatos diameses puros são normalmente vesgos, ja os gatos razados são considerados os mais comuns a possuirem lares, e tambem são considerados mais amigaveis"

print(frase_2.count("gatos"))
print(frase_2.count("raros"))
print(frase_2.count("são"))
print(frase_2.count("mais"))

5
2
5
2

##manipulaçao de strings

In [ ]:
name='sam'
last_letters=name[1::]
new_name='P'+last_letters
print(new_name)

In [ ]:
#aqui conseguimos pegar seguimentos ou pedaços de um str
print('tinker'[1:4])
#a gente tambem pode chamar isso de fatiar a palavra

In [ ]:
my_frase='abcdefghiklmno'
my_frase[::]

In [ ]:
my_frase[::2]#pula 2 em 2
my_frase[::-1]#inverte
'Hello World'[7]

In [ ]:
#aqui temos outra forma de fazer a visualizaçao do que foi armazenado pela variavel fruit
fruit=input("nome da fruta :")
index = 0
#we use WHILE for loops
while index < len(fruit):
 letter = fruit[index]
 print (letter)
 index = index + 1

nome da fruta :casa
c
a
s
a

In [ ]:
#alem disso podemos saber o tamanho desse string,quantidade de letras
print(len(fruit)) #banana=6
#vem a ser util quando desejamos limitar o numero de letras para ser utilizado pelo usuario
#por exemplo em um formulario 50 letras pra um nome pode ser um absurdo

#utilizando o split

In [ ]:
text="Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth.On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of theMoon is 127 C."

In [ ]:
sentences=text.split(". ")
print(sentences)

In [ ]:

for sentence in sentences:
    if "temperature" in sentence:
        print(sentence)

# Utilizaçao do format

In [ ]:
first_nm=input("o primeiro nome : ")
last_nm=input("o sobrenome:")
msg= f'{first_nm}[ {last_nm} ]is a coder'
print(msg)

In [ ]:
nome = "João"
print("Olá, {}!".format(nome))

In [ ]:
insert="inserido aqui"
print(f'vamos colocar algo aqui {insert}')

In [ ]:
#tambem tem esse outro formato aqui
print('vamos colocar algo aqui {}'.format("INSERIDO AQUI"))

In [ ]:
print("o {0} {2} {1}".format('gato','correu','preto'))

In [ ]:
# que tambem pode ser feito dessa outra forma
print("o {g} {p} {c}".format(g='gato',c='correu',p='preto'))
#que pode ser util para fazer diversas substituiçoes

In [ ]:
print(' Regras do Python {} '.format('!'))

In [ ]:
planet = "Earth"
diameter = 12742
print("The diameter of {0}is {1} kilometer".format(planet,diameter))

In [ ]:
mass_percentage = "1/6"
print("""You are lighter on the {moon}, because on the {moon} you would weigh about {mass} of your weight on Earth.""".format(moon="Moon", mass=mass_percentage))

In [16]:
vida="um animal domestico merece um lar e muito carinho"
print("""{0} CINZA, {0} PRETO, {0} AMARELO ,{0} RAZADO {0} BRANCO ,{0} é {amor}""".format("GATO",amor=vida ))

GATO CINZA, GATO PRETO, GATO AMARELO ,GATO RAZADO GATO BRANCO ,GATO é um animal domestico merece um lar e muito carinho

# utilizção do %

In [ ]:
mass_percentage = "1/6"
print("On the Moon, you would weigh about %s of your weight on Earth." % mass_percentage)

#de string para lista

In [ ]:
#utilizaçao de funçao
def Convert(string):
    li = list(string.split(" "))
    return li


# Driver code
str1 = "Guerra nas estrelas"
print(Convert(str1))

['Guerra', 'nas', 'estrelas']

#referencia

In [ ]:
# https://stackabuse.com/getting-user-input-in-python/
# https://programmingwithmosh.com/wp-content/uploads/2019/02/Python-Cheat-Sheet.pdf
# https://algoritmosempython.com.br/cursos/programacao-python/entrada-saida/
# https://stackoverflow.com/questions/4967580/how-to-get-the-size-of-a-string-in-python